$colBlue: #0a65c2;
$colGreen: #30b875;
$colGray: #f1f1fd;

@font-face {
  font-family: 'Moscow-Sans';
  src: url('../fonts/moscowsansregular.ttf');
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
body {
  font-family: 'Moscow-Sans';
  margin: 0;
}
header {
  padding: 12px 0;
  background-color: $colBlue;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      width: 260px;
    }
    button {
      background-color: $colGreen;
      width: 200px;
      height: 56px;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
}
#main-block {
  background-color: $colBlue;
  position: relative;
  .main-block__left {
    max-width: 760px;
    color: #fff;
    h4 {
      font-size: 18px;
    }
    h1 {
      font-size: 40px;
      line-height: 126%;
      font-weight: 600;
      padding: 14px 0;
      span {
        color: $colGreen;
      }
    }
    p {
      max-width: 660px;
      font-size: 18px;
      padding-bottom: 60px;
    }
    button {
      background-color: $colGreen;
      width: 420px;
      height: 64px;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }
  }
  .main-block__right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .flex {
    display: flex;
    align-items: center;
    min-height: 720px;
  }
}
#about {
  min-height: 630px;
  padding: 100px 0;
  background-color: $colGray;
  .about-block {
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    .flex {
      display: flex;
      .ava {
        max-width: 420px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        .ava-img {
          min-width: 200px;
          width: 200px;
          height: 190px;
          overflow: hidden;
          border-radius: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          max-width: 200px;
          font-size: 20px;
          font-weight: 700;
        }
        p {
          max-width: 200px;
          opacity: 0.5;
        }
      }
      .text-info {
        padding: 0 20px;
        p {
          font-size: 18px;
        }
      }
    }
  }
}
#about-two {
  padding-bottom: 80px;
  .about-block {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
  }
  h1 {
    font-size: 36px;
    line-height: 125%;
    font-weight: 600;
    text-align: center;
    padding: 24px 0;
    span {
      color: $colBlue;
    }
  }
  .man-img {
    max-width: 870px;
    width: 100%;
    height: 550px;
    border-radius: 16px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    .card-block {
      padding: 20px;
      border-radius: 8px;
      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 24px;
        }
        h1 {
          margin: 0 6px;
        }
      }
      p {
        text-align: center;
      }
    }
  }
  .extra-block {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    .flex {
      display: flex;
      padding: 80px 0;
      .flex-left {
        max-width: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font-size: 36px;
          line-height: 125%;
          font-weight: 500;
          span {
            color: $colBlue;
          }
        }
        .extra-block__img {
          width: 370px;
          height: 370px;
          min-width: 370px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $colGray;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      ul {
        padding-left: 40px;
        max-width: 520px;
        li {
          position: relative;
          font-size: 20px;
          color: gray;
          margin: 14px 0;
          padding-left: 20px;
          &::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 8px;
            min-width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: $colBlue;
          }
        }
      }
    }
  }
}
#book {
  padding: 60px 0;
  background-color: $colGray;
  .content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    h1 {
      font-size: 36px;
      line-height: 125%;
      font-weight: 600;
      text-align: center;
      padding: 24px 0;
      span {
        color: $colBlue;
      }
    }
    .btn {
      color: $colGreen;
      font-size: 18px;
      text-decoration: underline;
      cursor: pointer;
    }
    .show-btn {
        display: none;
        &.active {
            display: block;
        }
    }
    .hide-btn {
        display: none;
        &.active {
            display: block;
        }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
      li {
        position: relative;
        padding-left: 20px;
        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          width: 6px;
          min-width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: $colBlue;
        }
      }
    }
    .hide-elements {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
      &.active {
        display: grid;
      }
      .hide-elems__items {
        p {
          position: relative;
          margin: 24px 0;
          padding-left: 20px;
          &::before {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 6px;
            min-width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $colBlue;
          }
        }
      }
    }
  }
}
#for-who {
  padding: 60px 0;
  background-color: $colBlue;
  .content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    h1 {
      font-size: 40px;
      color: #fff;
      font-weight: 700;
      padding-bottom: 40px;
      text-align: center;
    }
    .for-who__block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
      color: #fff;
      .for-who__item {
        border: 1px solid #2987e4;
        border-radius: 4px;
        .flex {
          display: flex;
          .for-who__left {
            padding: 20px 8px 20px 20px;
            width: 50%;
            span {
              min-height: 40px;
              padding: 5px 10px;
              border-radius: 4px;
            }
            p {
              font-size: 14px;
              opacity: 0.6;
              padding: 24px 0 10px;
            }
            h5 {
              font-weight: 500;
              font-size: 20px;
              line-height: 125%;
            }
          }
          .for-who__right {
            width: 50%;
            position: relative;
            overflow: hidden;
            padding: 0 20px 0 0;
            height: 216px;
            img {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
}
#promotion {
  padding: 60px 0;
  h1 {
    font-size: 36px;
    line-height: 125%;
    font-weight: 600;
    text-align: center;
    max-width: 870px;
    margin: 0 auto;
    span {
      color: $colBlue;
    }
  }
  p {
    max-width: 700px;
    margin: 0 auto;
    opacity: 0.6;
    text-align: center;
    padding: 14px 0 40px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    .promotion-parent {
      max-width: 580px;
      width: 100%;
      margin-left: auto;
      padding-top: 40px;
      .promotion-div {
        width: 100%;
        height: max-content;
        background-color: $colBlue;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        .promotion-div__block {
          background-color: #f1f1fd;
          border-radius: 4px;
          padding: 24px;
          position: relative;
          del {
            font-size: 24px;
            color: gray;
          }
          h2 {
            font-size: 80px;
            font-weight: 700;
          }
          .flex {
            display: flex;
            justify-content: space-between;
            h4 {
              width: 70%;
              font-size: 32px;
              font-weight: 600;
              color: #000;
              padding: 0;
              text-align: left;
            }
            .prosent {
              position: absolute;
              top: 0;
              right: 20px;
              width: 80px;
              height: 100px;
              padding-top: 10px;
              text-align: center;
              background-color: $colGreen;
              color: #fff;
              overflow: hidden;
              .bg {
                position: absolute;
                top: 77px;
                right: 0;
                width: 80px;
                height: 80px;
                background-color: #f1f1fd;
                rotate: 45deg;
              }
              span {
                font-weight: 700;
                font-size: 24px;
              }
            }
          }
        }
        h4 {
          color: #fff;
          text-align: center;
          font-size: 24px;
          padding: 16px 0 10px;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1.25rem;
          color: #fff;
          max-width: 420px;
          width: 100%;
          margin: 0 auto;
          li {
            position: relative;
            padding-left: 10px;
            font-size: 18px;
            &::before {
              content: '';
              position: absolute;
              top: 10px;
              left: 0;
              width: 5px;
              min-width: 5px;
              height: 5px;
              border-radius: 100%;
              background-color: $colGreen;
            }
          }
        }
        .last-text {
          padding: 10px 0 0;
          opacity: 1;
          font-size: 14px;
          color: #fff;
        }
      }
      a {
        background-color: $colGreen;
        color: #fff;
        border-radius: 6px;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-weight: 700;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
#faq {
  padding: 60px 0;
  background-color: $colGray;
  h2 {
    font-weight: 700;
    font-size: 32px;
    padding: 0 0 40px;
    text-align: center;
  }
  .content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    .faq_parent {
      max-width: 1030px;
      width: 100%;
      margin: 0 auto;
      padding: 24px 20px 0;
      border-top: 1px solid #848199;
      margin: 10px 0 0;
      &:last-child {
        border-bottom: 1px solid #848199;
      }
      .faq_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          font-size: 18px;
        }
        .faq_btn {
          min-width: 20px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          transition: 0.3s;
          &.active {
            transform: rotate(45deg);
          }
        }
      }
      .faq_txt {
        max-width: 570px;
        max-height: 0;
        padding-top: 20px;
        font-size: 14px;
        color: gray;
        overflow: hidden;
        -webkit-transition: max-height 0.2s ease-out;
        transition: max-height 0.2s ease-out;
      }
    }
  }
}
#bonuses {
  padding: 60px 0;
  background-color: $colBlue;
  .content {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    h1 {
      font-size: 36px;
      line-height: 125%;
      color: #fff;
      font-weight: 700;
      text-align: center;
    }
    ul {
      max-width: 520px;
      margin: 0 auto;
      padding: 10px 0 40px;
      li {
        position: relative;
        color: #fff;
        margin: 10px 0;
        padding-left: 14px;
        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          width: 6px;
          min-width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: $colGreen;
        }
      }
    }
    .link {
      padding-top: 40px;
      a {
        display: flex;
        justify-content: center;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 16px;
        font-size: 18px;
        border-radius: 4px;
        background-color: $colGreen;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
footer {
  padding: 20px 0;
}
