body {
  font-family: "SuisseIntl-Regular";
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #222;
}

.container {
  padding: 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("./../../fonts/SuisseIntl-Regular.ttf");
}
@font-face {
  font-family: "SuisseIntl-Bold";
  src: url("./../../fonts/SuisseIntl-Bold.ttf");
}
@font-face {
  font-family: "SuisseIntl-Medium";
  src: url("./../../fonts/SuisseIntl-Medium.ttf");
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}
@media (max-width: 840px) {
  header .header {
    padding-top: 12px;
  }
}
header .header .logo a img {
  width: 100px;
}
@media (max-width: 840px) {
  header .header .logo a img {
    width: 80px;
  }
}
header .header .mobile-menu {
  display: none;
  font-family: "SuisseIntl-Medium";
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 840px) {
  header .header .mobile-menu {
    display: block;
  }
}
@media (max-width: 840px) {
  header .header .nav {
    display: none;
  }
}
header .header .nav ul {
  display: flex;
  align-items: center;
}
header .header .nav ul li {
  margin: 0 10px;
}
header .header .nav ul li a {
  transition: opacity 0.2s;
  font-size: 0.9em;
}
header .header .nav ul li a:hover {
  opacity: 0.7;
}

footer {
  padding-bottom: 40px;
}
footer .footer-line {
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 0 1vw 0 0;
  padding-top: 18px;
}
footer .footer-line .footer-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 840px) {
  footer .footer-line .footer-wrap {
    flex-wrap: wrap;
  }
}
footer .footer-line .footer-wrap .footer-wrap__item {
  width: 30%;
}
@media (max-width: 840px) {
  footer .footer-line .footer-wrap .footer-wrap__item {
    width: auto;
    margin: 20px 20px 0 0;
  }
}
@media (max-width: 576px) {
  footer .footer-line .footer-wrap .footer-wrap__item {
    width: 100%;
    margin: 30px 0 0 0;
  }
}
footer .footer-line .footer-wrap .footer-wrap__item ul li a {
  transition: 0.2s opacity;
  font-size: 1.5em;
  line-height: 1;
}
@media (max-width: 576px) {
  footer .footer-line .footer-wrap .footer-wrap__item ul li a {
    font-size: 18px;
    line-height: 110%;
  }
}
footer .footer-line .footer-wrap .footer-wrap__item ul li a:hover {
  opacity: 0.5;
}
footer .footer-line .footer-wrap .footer-wrap__item ul .small-txt {
  font-size: 0.875em;
  margin-bottom: 14px;
}
@media (max-width: 576px) {
  footer .footer-line .footer-wrap .footer-wrap__item ul .small-txt {
    font-size: 12px;
    margin-bottom: 7px;
  }
}
footer .footer-line .footer-wrap__extra {
  padding-top: 18px;
  margin-top: 90px;
  border-top: 2px solid #f2f2f2;
  margin-right: 18px;
}
@media (max-width: 576px) {
  footer .footer-line .footer-wrap__extra .footer-wrap__item:first-child {
    margin-top: 0;
  }
}

#banner .container {
  min-height: 45rem;
  background-image: url("./../../img/main_page/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 1rem;
  border-radius: 20px;
  padding: 1rem 1rem;
  display: flex;
}
#banner .container .banner-desc {
  max-width: 740px;
  max-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#banner .container .banner-desc h1 {
  font-family: "SuisseIntl-Medium";
  font-size: 5.5em;
  font-weight: 500;
  line-height: 91%;
  color: #fff;
  letter-spacing: -0.06em;
}
#banner .container .banner-desc button {
  max-width: 20em;
  width: 100%;
  padding: 0.75vw 3vw;
  border-radius: 100vw;
  background-color: #1f59f5;
  transition: 0.3s all;
  color: #ebeae8;
  font-size: 0.9em;
  line-height: 105%;
  border: none;
  cursor: pointer;
}
#banner .container .banner-desc button:hover {
  background: #4373f5;
}

#text-section .container .text-wrap {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top-right-radius: 1vw;
  min-height: 350px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 0 1vw 0 0;
  margin: 10px 0;
}
#text-section .container .text-wrap .text-wrap__item {
  padding: 1.25rem;
}
#text-section .container .text-wrap .text-wrap__item h1 {
  font-family: "SuisseIntl-Medium";
  font-size: 5.5em;
  line-height: 91%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
#text-section .container .text-wrap .text-wrap__item p {
  font-size: 1.5em;
}
#text-section .container .text-wrap .text-wrap__item .indent-txt {
  text-indent: 9.1em;
}

#cards {
  padding-bottom: 15rem;
}
#cards .cards-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
#cards .cards-wrap .cards-wrap__item {
  background: #f2f2f2;
  border-radius: 1vw;
  padding: 1.25em;
  min-height: 352px;
}
#cards .cards-wrap .cards-wrap__item a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__head {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__head p {
  padding: 0.25vw 1vw;
  border: 2px solid #282828;
  border-radius: 100vw;
  text-align: center;
  font-size: 0.9em;
  line-height: 105%;
  margin-right: 7px;
}
#cards .cards-wrap .cards-wrap__item a h3 {
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
#cards .cards-wrap .cards-wrap__item a p {
  font-size: 0.8em;
  line-height: 105%;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info {
  display: flex;
  margin-top: 5em;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left {
  display: flex;
  max-width: 212px;
  padding-top: 1.13em;
  padding-right: 1em;
  margin-right: 1.25em;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #404040;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left button {
  padding: 0.75vw 3vw;
  border-radius: 100vw;
  background-color: #1f59f5;
  transition: background-color 0.3s;
  color: #ebeae8;
  font-size: 0.9em;
  line-height: 105%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left button:hover {
  opacity: 0.5;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_right {
  margin-right: 0.5em;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_right img {
  border-radius: 1vw;
}
#cards .extra-cards-wrap .cards-item__info_img {
  min-width: 14em;
  height: 14em;
  max-width: none;
  border-radius: 1vw;
  overflow: hidden;
  margin-right: 10px;
}
#cards .extra-cards-wrap .cards-item__info_desc {
  border-top: 2px solid #404040;
  padding: 1em 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cards .extra-cards-wrap .cards-item__info_desc p {
  font-size: 0.9em;
  line-height: 105%;
}
#cards .extra-cards-wrap .cards-item__info_desc h2 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 7px;
}
#cards .extra-cards-wrap .cards-item__info_desc b {
  text-decoration: line-through;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: 0.5s all;
  opacity: 0;
  visibility: hidden;
}
.menu.active {
  opacity: 1;
  visibility: visible;
}
.menu .menu-content {
  padding: 24px 12px;
}
.menu .menu-content .menu-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.menu .menu-content .menu-head a img {
  width: 100px;
}
.menu .menu-content .menu-head span {
  font-family: "SuisseIntl-Medium";
  cursor: pointer;
  font-size: 18px;
}
.menu .menu-content ul {
  margin-top: 22px;
}
.menu .menu-content ul li {
  display: flex;
  border-top: 2px solid #282828;
}
.menu .menu-content ul li a {
  font-size: 18px;
  line-height: 111%;
  width: 100%;
  padding: 7px 0;
}
.menu .menu-content .small-links {
  margin-top: 30px;
}
.menu .menu-content .small-links ul li a {
  font-size: 12px;
}
.menu .menu-content .menu-contacts {
  margin-top: 30px;
  border-top: 2px solid #282828;
}
.menu .menu-content .menu-contacts .menu-contacts__item {
  margin: 10px 0 24px;
}
.menu .menu-content .menu-contacts .menu-contacts__item .small-txt {
  font-size: 12px;
  margin-bottom: 5px;
}
.menu .menu-content .menu-contacts .menu-contacts__item a {
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */