body {
    font-family: 'SuisseIntl-Regular';
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #222;
}
.container {
    padding: 0 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('./../../fonts/SuisseIntl-Regular.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('./../../fonts/SuisseIntl-Bold.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Medium';
    src: url('./../../fonts/SuisseIntl-Medium.ttf');
}
@mixin _840px {
    @media (max-width: 840px) { @content }
};
@mixin _576px {
    @media (max-width: 576px) { @content }
};
header {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
        @include _840px() {
            padding-top: 12px;
        }
        .logo {
            a {
                img {
                    width: 100px;
                    @include _840px() {
                        width: 80px;
                    }
                }
            }
        }
        .mobile-menu {
            display: none;
            font-family: 'SuisseIntl-Medium';
            font-size: 16px;
            cursor: pointer;
            @include _840px() {
                display: block;
            }
        }
        .nav {
            @include _840px() {
                display: none;
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    margin: 0 10px;
                    a {
                        transition: opacity .2s;
                        font-size: .9em;
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}
footer {
    padding-bottom: 40px;
    .footer-line {
        border-top: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        border-radius: 0 1vw 0 0;
        padding-top: 18px;
        .footer-wrap {
            display: flex;
            justify-content: space-between;
            @include _840px() {
                flex-wrap: wrap;
            }
            .footer-wrap__item {
                width: 30%;
                @include _840px() {
                    width: auto;
                    margin: 20px 20px 0 0;
                }
                @include _576px() {
                    width: 100%;
                    margin: 30px 0 0 0;
                }
                ul {
                    li {
                        a {
                            transition: .2s opacity;
                            font-size: 1.5em;
                            line-height: 1;
                            @include _576px() {
                                font-size: 18px;
                                line-height: 110%;
                            }
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                    .small-txt {
                        font-size: .875em;
                        margin-bottom: 14px;
                        @include _576px() {
                            font-size: 12px;
                            margin-bottom: 7px;
                        }
                    }
                }
            }
        }
        .footer-wrap__extra {
            padding-top: 18px;
            margin-top: 90px;
            border-top: 2px solid #f2f2f2;
            margin-right: 18px;
            .footer-wrap__item {
                &:first-child {
                    @include _576px() {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
#banner {
    .container {
        min-height: 45rem;
        background-image: url('./../../img/main_page/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 1rem;
        border-radius: 20px;
        padding: 1rem 1rem;
        display: flex;
        .banner-desc {
            max-width: 740px;
            max-height: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h1 {
                font-family: 'SuisseIntl-Medium';
                font-size: 5.5em;
                font-weight: 500;
                line-height: 91%;
                color: #fff;
                letter-spacing: -.06em;
            }
            button {
                max-width: 20em;
                width: 100%;
                padding: 0.75vw 3vw;
                border-radius: 100vw;
                background-color: #1f59f5;
                transition: .3s all;
                color: #ebeae8;
                font-size: .9em;
                line-height: 105%;
                border: none;
                cursor: pointer;
                &:hover {
                    background: #4373f5;
                }
            }
        }
    }
}
#text-section {
    .container {
        .text-wrap {
            display: grid;
            width: 100%;
            grid-auto-columns: 1fr;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            border-top-right-radius: 1vw;
            min-height: 350px;
            border-top: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;
            border-radius: 0 1vw 0 0;
            margin: 10px 0;
            .text-wrap__item {
                padding: 1.25rem;
                h1 {
                    font-family: 'SuisseIntl-Medium';
                    font-size: 5.5em;
                    line-height: 91%;
                    font-weight: 500;
                    letter-spacing: -.06em;
                }
                p {
                    font-size: 1.5em;
                }
                .indent-txt {
                    text-indent: 9.1em;
                }
            }
        }
    }
}
#cards {
    padding-bottom: 15rem;
    .cards-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        .cards-wrap__item {
            background: #f2f2f2;
            border-radius: 1vw;
            padding: 1.25em;
            min-height: 352px;
            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                .cards-item__head {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1em;
                    p {
                        padding: 0.25vw 1vw;
                        border: 2px solid #282828;
                        border-radius: 100vw;
                        text-align: center; 
                        font-size: .9em;
                        line-height: 105%;
                        margin-right: 7px;
                    }
                }
                h3 {
                    font-size: 1.5em;
                    line-height: 1;
                    letter-spacing: -.02em;
                    margin-bottom: 5em;
                }
                .cards-item__info {
                    display: flex;
                    .cards-item__info_left {
                        display: flex;
                        max-width: 212px;
                        padding-top: 1.13em;
                        padding-right: 1em;
                        margin-right: 1.25em;
                        flex-direction: column;
                        justify-content: space-between;
                        border-top: 2px solid #404040;
                        p {
                            font-size: .8em;
                            line-height: 105%;
                        }
                        button {
                            padding: 0.75vw 3vw;
                            border-radius: 100vw;
                            background-color: #1f59f5;
                            transition: background-color .3s;
                            color: #ebeae8;
                            font-size: .9em;
                            line-height: 105%;
                            text-align: center;
                            border: none;
                            cursor: pointer;
                            transition: .3s all;
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                    .cards-item__info_right {
                        margin-right: .5em;
                        img {
                            border-radius: 1vw;
                        }
                    }
                }
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
    overflow-y: scroll;
    transition: .5s all;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .menu-content {
        padding: 24px 12px;
        .menu-head {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            a {
                img {
                    width: 100px;
                }
            }
            span {
                font-family: 'SuisseIntl-Medium';
                cursor: pointer;
                font-size: 18px;
            }
        }
        ul {
            margin-top: 22px;
            li {
                display: flex;
                border-top: 2px solid #282828;
                a {
                    font-size: 18px;
                    line-height: 111%;
                    width: 100%;
                    padding: 7px 0;
                }
            }
        }
        .small-links {
            margin-top: 30px;
            ul {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        .menu-contacts {
            margin-top: 30px;
            border-top: 2px solid #282828;
            .menu-contacts__item {
                margin: 10px 0 24px;
                .small-txt {
                    font-size: 12px;
                    margin-bottom: 5px;
                } 
                a {
                    font-size: 18px;
                }
            }
        }
    }
}