
@mixin _1360px {
    @media (max-width: 1360px) { @content }
};
@mixin _1140px {
    @media (max-width: 1140px) { @content }
};
@mixin _991px {
    @media (max-width: 991px) { @content }
};
@mixin _840px {
    @media (max-width: 840px) { @content }
};
@mixin _768px {
    @media (max-width: 768px) { @content }
};
@mixin _576px {
    @media (max-width: 576px) { @content }
};
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('./../../fonts/SuisseIntl-Regular.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('./../../fonts/SuisseIntl-Bold.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Medium';
    src: url('./../../fonts/SuisseIntl-Medium.ttf');
}

// ******************* Стили для страницы index.html **************************
#banner {
    .container {
        min-height: 45rem;
        background-image: url('./../../img/images_1/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 1rem;
        border-radius: 20px;
        padding: 1rem 1rem;
        display: flex;
        @include _991px() {
            min-height: 33rem;
        }
        @include _576px() {
            margin: 0 .5rem;
        }
        .banner-desc {
            max-width: 740px;
            max-height: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include _991px() {
                max-width: 540px;
            }
            h1 {
                font-family: 'SuisseIntl-Medium';
                font-size: 5.5em;
                font-weight: 500;
                line-height: 91%;
                color: #fff;
                letter-spacing: -.06em;
                @include _991px() {
                    font-size: 3em;
                    letter-spacing: -.02em;
                }
                @include _576px() {
                    font-size: 2.8rem;
                }
            }
            button {
                max-width: 20em;
                width: 100%;
                padding: 0.75vw 3vw;
                border-radius: 100vw;
                background-color: #1f59f5;
                transition: .3s all;
                color: #ebeae8;
                font-size: .9em;
                line-height: 105%;
                border: none;
                cursor: pointer;
                @include _576px() {
                    width: max-content;
                    padding: 7px 40px;
                }
                &:hover {
                    background: #4373f5;
                }
            }
        }
    }
}
#text-section {
    .container {
        .text-wrap {
            display: grid;
            width: 100%;
            grid-auto-columns: 1fr;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            border-top-right-radius: 1vw;
            min-height: 350px;
            border-top: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;
            border-radius: 0 1vw 0 0;
            margin: 10px 0;
            @include _991px() {
                grid-template-columns: auto;
            }
            @include _576px() {
                min-height: auto;
            }
            .text-wrap__item {
                padding: 1.25rem;
                @include _576px() {
                    padding: 1rem;
                }
                p {
                    font-size: 1.5em;
                    @include _576px() {
                        font-size: 1rem;
                    }
                }
                .indent-txt {
                    text-indent: 9.1em;
                    @include _991px() {
                        text-indent: 0;
                    }
                }
            }
        }
    }
}
#cards {
    padding-bottom: 10rem;
    @include _840px() {
        padding-bottom: 7rem;
    }
    .cards-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        @include _840px() {
            grid-template-columns: auto;
        }
        .cards-wrap__item {
            background: #f2f2f2;
            border-radius: 1vw;
            padding: 1.25em;
            min-height: 352px;
            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                .cards-item__head {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1em;
                        @include _576px() {
                            flex-wrap: wrap;
                        }
                    p {
                        padding: 0.25vw 1vw;
                        border: 2px solid #282828;
                        border-radius: 100vw;
                        text-align: center; 
                        font-size: .9em;
                        line-height: 105%;
                        margin-right: 7px;
                        @include _576px() {
                            margin: 4px 7px 3px 0;
                            font-size: 12px;
                            border: 1px solid #282828;
                            padding: 3px 7px;
                        }
                    }
                }
                h3 {
                    font-size: 1.5em;
                    line-height: 1;
                    letter-spacing: -.02em;
                    margin-bottom: 14px;
                }
                p {
                    font-size: .8em;
                    line-height: 105%;
                    @include _576px() {
                        font-size: 12px;
                    }
                }
                .cards-item__info {
                    display: flex;
                    margin-top: 5em;
                    @include _576px() {
                        display: block;
                        margin-top: 2em;
                    }
                    .cards-item__info_left {
                        display: flex;
                        max-width: 212px;
                        padding-top: 1.13em;
                        padding-right: 1em;
                        margin-right: 1.25em;
                        flex-direction: column;
                        justify-content: space-between;
                        border-top: 2px solid #404040;
                        @include _576px() {
                            max-width: 100%;
                            margin-right: 0;
                        }
                        button {
                            padding: 0.75vw 3vw;
                            border-radius: 100vw;
                            background-color: #1f59f5;
                            transition: background-color .3s;
                            color: #ebeae8;
                            font-size: .9em;
                            line-height: 105%;
                            text-align: center;
                            border: none;
                            cursor: pointer;
                            transition: .3s all;
                            @include _576px() {
                                margin: 20px 0;
                                width: fit-content;
                                padding: 10px 30px;
                            }
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                    .cards-item__info_right {
                        margin-right: .5em;
                        @include _576px() {
                            margin-right: 0;
                        }
                        img {
                            border-radius: 1vw;
                        }
                    }
                }
            }
        }
    }
    .extra-cards-wrap {
        .cards-item__info {
            display: flex !important;
        }
        .cards-item__info_img {
            min-width: 14em;
            height: 14em;
            max-width: none;
            border-radius: 1vw;
            overflow: hidden;
            margin-right: 10px;
            @include _576px() {
                min-width: 9em;
                height: 9em;
            }
        }
        .cards-item__info_desc {
            border-top: 2px solid #404040;
            padding: 1em 0 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include _576px() {
                padding: .5rem 0 0 .5rem;
            }
            p {
                font-size: .9em;
                line-height: 105%;

            }
            h2 {
                font-size: 1.5em;
                line-height: 1;
                font-weight: 400;
                letter-spacing: -.02em;
                margin-bottom: 7px;
                @include _576px() {
                    font-size: 4.8vw;
                    line-height: 110%;
                    letter-spacing: -.01em;
                }
            }
            b {
                text-decoration: line-through;
            }
        }
    }
}
#slider {
    padding: 20px 0 15rem;
    @include _768px() {
        padding: 20px 0 7rem;
    }
    h1 {
        padding: 1.25rem 0 10rem;
        border-top: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        border-radius: 0 1vw 0 0;
        @include _768px() {
            padding: 1.25rem 0 2rem;
        }
    }
    .slider {
        .slider-item {
            width: 460px;
            height: 510px;
            margin: 0 12px;
            @include _768px() {
                width: 300px;
                height: 350px;
            }
            img {
                width: 100%;
                height: 460px;
                border-radius: 1vw;
                margin-bottom: 1.25rem;
                object-fit: cover;
                @include _768px() {
                    height: 300px;
                }
            }
            p {
                font-size: .9em;
                line-height: 105%;
            }
        }
    }
    .reviews {
        .slider-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;
            border-radius: 0 1vw 0 0;
            padding: 18px 18px 0;
            margin: 0 5px;
            @include _768px() {
                height: 380px;
            }
            h3 {
                font-size: 1.75em;
                line-height: 115%;
                font-weight: 400;
                letter-spacing: -.02em;
                @include _768px() {
                    font-size: 18px;
                    line-height: 110%;
                    letter-spacing: -.02em;
                }
            }
            p {
                text-indent: 9.2em;
                @include _768px() {
                    font-size: 12px;
                    line-height: 121%;
                    text-indent: 0;
                }
            }
        }
    }
    .buttons {
        display: flex;
        padding: 0 1rem 20px;
        svg {
            width: 20px;
            cursor: pointer;
        }
        .prev {
            margin-right: 20px;
        }
    }
}
#form {
    margin-bottom: 15rem;
    @include _768px() {
        margin-bottom: 7rem;
    }
    .form-wrap {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            background: #f4f4f4;
            border-radius: 16px;
            @include _840px() {
                display: block;
            }
            @include _576px() {
                padding: 14px;
            }
        .form-wrap__item {
            &:first-child {
                width: 60%;
                @include _991px() {
                    width: 50%;
                }
                @include _840px() {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                width: 40%;
                padding-left: 30px;
                @include _991px() {
                    width: 50%;
                }
                @include _840px() {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 30px;
                }
            }
            width: 50%;
            h1 {
                font-size: 88px;
                line-height: 80px;
                letter-spacing: -.06em;
                @include _991px() {
                    font-size: 48px;
                    line-height: 56px;
                }
                @include _576px() {
                    font-size: 2em;
                    line-height: 40px
                }
            }
            input {
                background: 0 0;
                border: none;
                border-bottom: 2px solid #131313;
                border-radius: 0;
                outline: 0;
                padding: 5px 0 8px;
                width: 100%;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -.02em;
                margin-bottom: 20px;
                @include _576px() {
                    font-size: 18px;
                    line-height: 20px;
                }
                &::placeholder {
                    color: #c7c7c7;
                }
            }
            p {
                font-family: 'SuisseIntl-Medium';
                font-size: 15px;
                line-height: 16px;
                margin: 10px 0 5px;
                @include _576px() {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            .radio-btn {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 20px 0;
                input {
                    margin: 0;
                    width: auto;
                }
                a {
                    font-family: "SuisseIntl-Bold";
                    color: #1f59f5;
                    text-decoration: underline;
                }
                label {
                    padding-left: 14px;
                }
            }
            button {
                font-size: 15px;
                line-height: 1px;
                height: 40px;
                padding: 0 48px;
                border: none;
                background: #1f59F5FF;
                color: #c7c7c7;
                cursor: pointer;
                transition: .2s ease all;
                border-radius: 40px;
                margin-top: 90px;
                &:hover {
                    background: rgb(58, 107, 241);
                }
            }
        }
    }
}



// ******************* Стили для страницы catalog.html **************************
.all-courses {
    .all-courses__wrap {
        display: flex;
        width: 100%;
        margin: 70px 0;
        padding-bottom: 70px;
        border-bottom: 2px solid #f2f2f2;
        @include _1140px() {
            display: block;
        }
        p {
            font-size: 18px;
        }
        .all-courses__item {
            width: 50%;
            padding: 30px 30px 30px 0;
            @include _1140px() {
                width: 100%;
            }
            &:last-child {
                padding: 30px;
                background: #f2f2f2;
                border-radius: 34px;
                @include _576px() {
                    padding: 20px;
                    border-radius: 14px;
                }
            }
            h1 {
                font-family: 'SuisseIntl-Medium';
                font-size: 3rem;
                margin-bottom: 16px;
            }
            h4 {
                font-size: 24px;
                color: #1f59f5;
                margin-bottom: 20px;
            }
            .btns {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 18px;
                @include _576px() {
                    flex-direction: column;
                    justify-content: flex-start;
                }
                a {
                    width: 49%;
                    padding: 14px 30px;
                    background: #1f59f5;
                    color: #fff;
                    border-radius: 32px;
                    text-align: center;
                    transition: .2s all;
                    @include _576px() {
                        width: 100%;
                        margin: 10px 0;
                    }
                    &:hover {
                        opacity: .7;
                    }
                    &:last-child {
                        color: #222;
                        background: #fff;
                    }
                }
            }
        }
    }
}
#cards-wrap {
    @include _1140px() {
        grid-template-columns: auto !important; 
    }
    #catalog-item {
        position: relative;
        padding: 2rem !important;
        @include _576px() {
            padding: 1rem !important;
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 370px;
            @include _1360px() {
                width: 250px;
            }
            @include _576px() {
                width: 230px;
            }
        }
        .catalog-img {
            width: 300px;
            @include _1360px() {
                width: 250px;
            }
            @include _576px() {
                width: 200px;
            }
        }
        a {
            @include _576px() {
                justify-content: flex-start !important;
            }
            .cards-item__info {
                @include _576px() {
                    margin-top: 0 !important;
                }
                .cards-item__info_left {
                    border-top: none !important;
                    button {
                        background: #131313 !important;
                        color: #fff !important; 
                    }
                    button {
                        width: 250px !important;
                        padding: 16px 0 !important;
                    }
                }
            }
            h2 {
                font-family: "SuisseIntl-Medium";
                font-size: 2rem;
                max-width: 590px;
                @include _576px() {
                    font-size: 24px !important;
                }
                span {
                    color: #e94ad5;
                }
                .color2 {
                    color: #772ade;
                }
                .color3 {
                    color: #42b045;
                }
                .color4 {
                    color: #1f59f5;
                }
            }
        }
    }
}
.categories {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        li {
            margin: 18px 7px;
            @include _576px() {
                margin: 14px 3px;
            }
            a {
                font-family: 'SuisseIntl-Medium';
                padding: 12px 24px;
                border: 1px solid #d3d1d1;
                border-radius: 24px;
                font-size: 18px;
                transition: .2s all;
                @include _576px() {
                    font-size: 14px;
                    padding: 10px 20px;
                }
                &:hover {
                    background: #edecec;
                }
                &.active {
                    background: #222;
                    color: #fff;
                }
            }
        }
    }
}
#courses {
    padding-bottom: 10rem;
    .courses-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        @include _1140px() {
            grid-template-columns: 1fr 1fr;
        }
        @include _768px() {
            grid-template-columns: 1fr;
        }
        .courses-wrap__item {
            border-radius: 32px;
            overflow: hidden;
            cursor: pointer;
            height: 540px;
            background: #f2f2f2;
            @include _576px() {
                height: auto;
                min-height: 500px;
            }
            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 30px;
                height: 100%;
                .courses-header {
                    padding: 0 26px;
                    @include _576px() {
                        padding: 0 16px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 24px;
                        opacity: .5;
                        @include _991px() {
                            line-height: 16px;
                        }
                    }
                    h2 {
                        font-size: 2rem;
                        margin: 10px 0;
                        @include _991px() {
                            font-size: 1.5rem;
                            margin: 7px 0;
                        }
                    }
                    h5 {
                        color: #f31f1f;
                        background: #fff;
                        padding: 7px 16px;
                        margin-top: 14px;   
                        border-radius: 24px;
                        width: max-content;
                    }
                    h6 {
                        font-size: 12px;
                        margin-top: 16px;
                        span {
                            opacity: .7;
                        }
                    }
                }
                .courses-img {
                    position: relative;
                    bottom: -5px;
                }
                .course-mini-img {
                    padding-bottom: 30px;
                    text-align: center;
                    img {
                        width: 225px;
                        height: 225px;
                        border-radius: 32px;
                    }
                }
            }
        }
    }
}