body {
    margin: 0;
}
@mixin _1360px {
    @media (max-width: 1360px) { @content }
};
@mixin _1240px {
    @media (max-width: 1240px) { @content }
};
@mixin _1140px {
    @media (max-width: 1140px) { @content }
};
@mixin _991px {
    @media (max-width: 991px) { @content }
};
@mixin _840px {
    @media (max-width: 840px) { @content }
};
@mixin _768px {
    @media (max-width: 768px) { @content }
};
@mixin _576px {
    @media (max-width: 576px) { @content }
};
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('./../../fonts/SuisseIntl-Regular.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url('./../../fonts/SuisseIntl-Bold.ttf');
}
@font-face {
    font-family: 'SuisseIntl-Medium';
    src: url('./../../fonts/SuisseIntl-Medium.ttf');
}

// ******************* Стили для страницы index.html **************************
#banner {
    .container {
        min-height: 45rem;
        background-image: url('./../../img/images_1/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 1rem;
        border-radius: 20px;
        padding: 1rem 1rem;
        display: flex;
        @include _991px() {
            min-height: 33rem;
        }
        @include _576px() {
            margin: 0 .5rem;
        }
        .banner-desc {
            max-width: 740px;
            max-height: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include _991px() {
                max-width: 540px;
            }
            h1 {
                font-family: 'SuisseIntl-Medium';
                font-size: 5.5em;
                font-weight: 500;
                line-height: 91%;
                color: #fff;
                letter-spacing: -.06em;
                @include _991px() {
                    font-size: 3em;
                    letter-spacing: -.02em;
                }
                @include _576px() {
                    font-size: 2.8rem;
                }
            }
            button {
                max-width: 20em;
                width: 100%;
                padding: 0.75vw 3vw;
                border-radius: 100vw;
                background-color: #1f59f5;
                transition: .3s all;
                color: #ebeae8;
                font-size: .9em;
                line-height: 105%;
                border: none;
                cursor: pointer;
                @include _576px() {
                    width: max-content;
                    padding: 7px 40px;
                }
                &:hover {
                    background: #4373f5;
                }
            }
        }
    }
}
#text-section {
    .container {
        .text-wrap {
            display: grid;
            width: 100%;
            grid-auto-columns: 1fr;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            border-top-right-radius: 1vw;
            min-height: 350px;
            border-top: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;
            border-radius: 0 1vw 0 0;
            margin: 10px 0;
            @include _991px() {
                grid-template-columns: auto;
            }
            @include _576px() {
                min-height: auto;
            }
            .text-wrap__item {
                padding: 1.25rem;
                @include _576px() {
                    padding: 1rem;
                }
                p {
                    font-size: 1.5em;
                    @include _576px() {
                        font-size: 1rem;
                    }
                }
                .indent-txt {
                    text-indent: 9.1em;
                    @include _991px() {
                        text-indent: 0;
                    }
                }
            }
        }
    }
}
#cards {
    padding-bottom: 10rem;
    @include _840px() {
        padding-bottom: 7rem;
    }
    .cards-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        @include _840px() {
            grid-template-columns: auto;
        }
        .cards-wrap__item {
            background: #f2f2f2;
            border-radius: 1vw;
            padding: 1.25em;
            min-height: 352px;
            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                .cards-item__head {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1em;
                        @include _576px() {
                            flex-wrap: wrap;
                        }
                    p {
                        padding: 0.25vw 1vw;
                        border: 2px solid #282828;
                        border-radius: 100vw;
                        text-align: center; 
                        font-size: .9em;
                        line-height: 105%;
                        margin-right: 7px;
                        @include _576px() {
                            margin: 4px 7px 3px 0;
                            font-size: 12px;
                            border: 1px solid #282828;
                            padding: 3px 7px;
                        }
                    }
                }
                h3 {
                    font-size: 1.5em;
                    line-height: 1;
                    letter-spacing: -.02em;
                    margin-bottom: 14px;
                }
                p {
                    font-size: .8em;
                    line-height: 105%;
                    @include _576px() {
                        font-size: 12px;
                    }
                }
                .cards-item__info {
                    display: flex;
                    margin-top: 5em;
                    @include _576px() {
                        display: block;
                        margin-top: 2em;
                    }
                    .cards-item__info_left {
                        display: flex;
                        max-width: 212px;
                        padding-top: 1.13em;
                        padding-right: 1em;
                        margin-right: 1.25em;
                        flex-direction: column;
                        justify-content: space-between;
                        border-top: 2px solid #404040;
                        @include _576px() {
                            max-width: 100%;
                            margin-right: 0;
                        }
                        button {
                            padding: 0.75vw 3vw;
                            border-radius: 100vw;
                            background-color: #1f59f5;
                            transition: background-color .3s;
                            color: #ebeae8;
                            font-size: .9em;
                            line-height: 105%;
                            text-align: center;
                            border: none;
                            cursor: pointer;
                            transition: .3s all;
                            @include _576px() {
                                margin: 20px 0;
                                width: fit-content;
                                padding: 10px 30px;
                            }
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                    .cards-item__info_right {
                        margin-right: .5em;
                        @include _576px() {
                            margin-right: 0;
                        }
                        img {
                            border-radius: 1vw;
                        }
                    }
                }
            }
        }
    }
    .extra-cards-wrap {
        .cards-item__info {
            display: flex !important;
        }
        .cards-item__info_img {
            min-width: 14em;
            height: 14em;
            max-width: none;
            border-radius: 1vw;
            overflow: hidden;
            margin-right: 10px;
            @include _576px() {
                min-width: 9em;
                height: 9em;
            }
        }
        .cards-item__info_desc {
            border-top: 2px solid #404040;
            padding: 1em 0 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include _576px() {
                padding: .5rem 0 0 .5rem;
            }
            p {
                font-size: .9em;
                line-height: 105%;

            }
            h2 {
                font-size: 1.5em;
                line-height: 1;
                font-weight: 400;
                letter-spacing: -.02em;
                margin-bottom: 7px;
                @include _576px() {
                    font-size: 4.8vw;
                    line-height: 110%;
                    letter-spacing: -.01em;
                }
            }
            b {
                text-decoration: line-through;
            }
        }
    }
}
#slider {
    padding: 20px 0 15rem;
    @include _768px() {
        padding: 20px 0 7rem;
    }
    h1 {
        padding: 1.25rem 0 10rem;
        border-top: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        border-radius: 0 1vw 0 0;
        @include _768px() {
            padding: 1.25rem 0 2rem;
        }
    }
    .slider {
        .slider-item {
            width: 460px;
            height: 510px;
            margin: 0 12px;
            @include _768px() {
                width: 300px;
                height: 350px;
            }
            img {
                width: 100%;
                height: 460px;
                border-radius: 1vw;
                margin-bottom: 1.25rem;
                object-fit: cover;
                @include _768px() {
                    height: 300px;
                }
            }
            p {
                font-size: .9em;
                line-height: 105%;
            }
        }
    }
    .reviews {
        .slider-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 2px solid #f2f2f2;
            border-right: 2px solid #f2f2f2;
            border-radius: 0 1vw 0 0;
            padding: 18px 18px 0;
            margin: 0 5px;
            @include _768px() {
                height: 380px;
            }
            h3 {
                font-size: 1.75em;
                line-height: 115%;
                font-weight: 400;
                letter-spacing: -.02em;
                @include _768px() {
                    font-size: 18px;
                    line-height: 110%;
                    letter-spacing: -.02em;
                }
            }
            p {
                text-indent: 9.2em;
                @include _768px() {
                    font-size: 12px;
                    line-height: 121%;
                    text-indent: 0;
                }
            }
        }
    }
    .buttons {
        display: flex;
        padding: 0 1rem 20px;
        svg {
            width: 20px;
            cursor: pointer;
        }
        .prev {
            margin-right: 20px;
        }
    }
}
#form,
#form-block {
    margin-bottom: 15rem;
    @include _768px() {
        margin-bottom: 7rem;
    }
    .form-wrap {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            background: #f4f4f4;
            border-radius: 16px;
            @include _840px() {
                display: block;
            }
            @include _576px() {
                padding: 14px;
            }
        .form-wrap__item {
            &:first-child {
                width: 60%;
                @include _991px() {
                    width: 50%;
                }
                @include _840px() {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                width: 40%;
                padding-left: 30px;
                @include _991px() {
                    width: 50%;
                }
                @include _840px() {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 30px;
                }
            }
            width: 50%;
            h1 {
                font-size: 88px;
                line-height: 80px;
                letter-spacing: -.06em;
                @include _991px() {
                    font-size: 48px;
                    line-height: 56px;
                }
                @include _576px() {
                    font-size: 2em;
                    line-height: 40px
                }
            }
            input {
                background: 0 0;
                border: none;
                border-bottom: 2px solid #131313;
                border-radius: 0;
                outline: 0;
                padding: 5px 0 8px;
                width: 100%;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -.02em;
                margin-bottom: 20px;
                @include _576px() {
                    font-size: 18px;
                    line-height: 20px;
                }
                &::placeholder {
                    color: #c7c7c7;
                }
            }
            p {
                font-family: 'SuisseIntl-Medium';
                font-size: 15px;
                line-height: 16px;
                margin: 10px 0 5px;
                @include _576px() {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            .radio-btn {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 20px 0;
                input {
                    margin: 0;
                    width: auto;
                }
                a {
                    font-family: "SuisseIntl-Bold";
                    color: #1f59f5;
                    text-decoration: underline;
                }
                label {
                    padding-left: 14px;
                }
            }
            button {
                font-size: 15px;
                line-height: 1px;
                height: 40px;
                padding: 0 48px;
                border: none;
                background: #1f59F5FF;
                color: #c7c7c7;
                cursor: pointer;
                transition: .2s ease all;
                border-radius: 40px;
                margin-top: 90px;
                &:hover {
                    background: rgb(58, 107, 241);
                }
            }
        }
    }
}

// ******************* Стили для страницы catalog.html **************************
.all-courses {
    .all-courses__wrap {
        display: flex;
        width: 100%;
        margin: 70px 0;
        padding-bottom: 70px;
        border-bottom: 2px solid #f2f2f2;
        @include _1140px() {
            display: block;
        }
        p {
            font-size: 18px;
        }
        .all-courses__item {
            width: 50%;
            padding: 30px 30px 30px 0;
            @include _1140px() {
                width: 100%;
            }
            &:last-child {
                padding: 30px;
                background: #f2f2f2;
                border-radius: 34px;
                @include _576px() {
                    padding: 20px;
                    border-radius: 14px;
                }
            }
            h1 {
                font-family: 'SuisseIntl-Medium';
                font-size: 3rem;
                margin-bottom: 16px;
            }
            h4 {
                font-size: 24px;
                color: #1f59f5;
                margin-bottom: 20px;
            }
            .btns {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 18px;
                @include _576px() {
                    flex-direction: column;
                    justify-content: flex-start;
                }
                a {
                    width: 49%;
                    padding: 14px 30px;
                    background: #1f59f5;
                    color: #fff;
                    border-radius: 32px;
                    text-align: center;
                    transition: .2s all;
                    @include _576px() {
                        width: 100%;
                        margin: 10px 0;
                    }
                    &:hover {
                        opacity: .7;
                    }
                    &:last-child {
                        color: #222;
                        background: #fff;
                    }
                }
            }
        }
    }
}
#cards-wrap {
    @include _1140px() {
        grid-template-columns: auto !important; 
    }
    #catalog-item {
        position: relative;
        padding: 2rem !important;
        @include _576px() {
            padding: 1rem !important;
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 370px;
            @include _1360px() {
                width: 250px;
            }
            @include _576px() {
                width: 230px;
            }
        }
        .catalog-img {
            width: 300px;
            @include _1360px() {
                width: 250px;
            }
            @include _576px() {
                width: 200px;
            }
        }
        a {
            @include _576px() {
                justify-content: flex-start !important;
            }
            .cards-item__info {
                @include _576px() {
                    margin-top: 0 !important;
                }
                .cards-item__info_left {
                    border-top: none !important;
                    button {
                        background: #131313 !important;
                        color: #fff !important; 
                    }
                    button {
                        width: 250px !important;
                        padding: 16px 0 !important;
                    }
                }
            }
            h2 {
                font-family: "SuisseIntl-Medium";
                font-size: 2rem;
                max-width: 590px;
                @include _576px() {
                    font-size: 24px !important;
                }
                span {
                    color: #e94ad5;
                }
                .color2 {
                    color: #772ade;
                }
                .color3 {
                    color: #42b045;
                }
                .color4 {
                    color: #1f59f5;
                }
            }
        }
    }
}
.categories {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        li {
            margin: 18px 7px;
            @include _576px() {
                margin: 14px 3px;
            }
            a {
                font-family: 'SuisseIntl-Medium';
                padding: 12px 24px;
                border: 1px solid #d3d1d1;
                border-radius: 24px;
                font-size: 18px;
                transition: .2s all;
                @include _576px() {
                    font-size: 14px;
                    padding: 10px 20px;
                }
                &:hover {
                    background: #edecec;
                }
                &.active {
                    background: #222;
                    color: #fff;
                }
            }
        }
    }
}
#courses {
    padding-bottom: 10rem;
    .courses-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        @include _1140px() {
            grid-template-columns: 1fr 1fr;
        }
        @include _768px() {
            grid-template-columns: 1fr;
        }
        .courses-wrap__item {
            border-radius: 32px;
            overflow: hidden;
            cursor: pointer;
            height: 540px;
            background: #f2f2f2;
            @include _576px() {
                height: auto;
                min-height: 500px;
            }
            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 30px;
                height: 100%;
                .courses-header {
                    padding: 0 26px;
                    @include _576px() {
                        padding: 0 16px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 24px;
                        opacity: .5;
                        @include _991px() {
                            line-height: 16px;
                        }
                    }
                    h2 {
                        font-size: 2rem;
                        margin: 10px 0;
                        @include _991px() {
                            font-size: 1.5rem;
                            margin: 7px 0;
                        }
                    }
                    h5 {
                        color: #f31f1f;
                        background: #fff;
                        padding: 7px 16px;
                        margin-top: 14px;   
                        border-radius: 24px;
                        width: max-content;
                    }
                    h6 {
                        font-size: 12px;
                        margin-top: 16px;
                        span {
                            opacity: .7;
                        }
                    }
                }
                .courses-img {
                    position: relative;
                    bottom: -5px;
                }
                .course-mini-img {
                    padding-bottom: 30px;
                    text-align: center;
                    img {
                        width: 225px;
                        height: 225px;
                        border-radius: 32px;
                    }
                }
            }
        }
    }
}

// ******************* Стили для страницы ui-ux.html *****************************
#ui-ux {
    position: relative;
    margin-bottom: 2rem;
    img {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include _576px() {
            right: 20%;
        }
    }
    .container {
        .ui-ux__content {
            border-radius: 1.38vw;
            background-color: #ebeae8;
            min-height: 730px;
            padding: 2rem;
            @include _991px() {
                min-height: 840px;
            }
            @include _576px() {
                min-height: 600px;
                padding: 2rem 1rem;
            }
            .ui-ux__desc {
                max-width: 670px;
                position: relative;
                z-index: 1;
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        font-size: 1rem;
                        line-height: 120%;
                        font-weight: 400;
                        letter-spacing: -.03em;
                        margin: 0 4px;
                        padding: 3px 10px;
                        border-radius: 100vw;
                        box-shadow: inset 0 0 0 2px #222;
                        text-align: center;
                    }
                }
                p {
                    span {
                        color: #22222280;
                    }
                }
                h1 {
                    font-family: "SuisseIntl-Medium";
                    margin: 25px 0 30px;
                    color: #232323;
                    font-size: 4rem;
                    line-height: 94%;
                    font-weight: 500;
                    letter-spacing: -.06em;
                    @include _576px() {
                        font-size: 2rem;
                    }
                }
                .btns {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    a, span {
                        padding: 10px;
                        border-radius: 100vw;
                        background-color: #1f59f5;
                        transition: .3s all;
                        color: #f6f6f5;
                        font-size: 1.5rem;
                        text-align: center;
                        letter-spacing: -.04em;
                        text-decoration: none;
                        margin-right: 10px;
                        max-width: 280px;
                        width: 100%;
                        &:hover {
                            opacity: .7;
                        }
                        @include _576px() {
                            font-size: 1rem;
                        }
                    }
                    span {
                        color: #131313;
                        background: #f6f6f5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
.def-title {
    font-family: "SuisseIntl-Medium";
    color: #232323;
    font-size: 4em;
    line-height: 94%;
    font-weight: 500;
    letter-spacing: -.06em;
    @include _991px() {
        font-size: 3rem;
    }
    @include _576px() {
        font-size: 2rem;
    }
}
.body-text-s-white {
    color: #22222280;
    font-size: 1.25em;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -.03em;
}
.body-text {
    font-size: 1.66em;
    line-height: 115%;
    font-weight: 400;
    letter-spacing: -.04em;
    @include _576px() {
        font-size: 1.1rem;
        line-height: 130%;
    }
}
#about-design {
    padding: 4rem 0;
    .about-design__wrap {
        display: flex;
        @include _991px() {
            display: block;
        }
        .about-design__item {
            width: 50%;
            @include _991px() {
                width: 100%;
            }
            p {
                margin: 30px 0;
            }
            .video {
                border-radius: 1.38vw;
                margin: 30px 0 20px;
                overflow: hidden;
                video {
                    width: 100%;
                }   
            }
            ul {
                padding: 30px 80px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include _991px() {
                    padding: 30px 0;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                height: 100%;
                li {
                    @include _991px() {
                        width: 48%;
                        margin: 20px 0;
                    }
                    h2 {
                        font-family: "SuisseIntl-Medium";
                        color: #232323;
                        font-size: 4.4em;
                        line-height: 94%;
                        font-weight: 500;
                        letter-spacing: -.06em;
                        @include _768px() {
                            font-size: 3rem;
                            margin-bottom: 7px;
                        }
                        @include _768px() {
                            font-size: 2rem;
                            margin-bottom: 7px;
                        }
                    }
                    .body-text-s-white {
                        font-size: .9rem;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .second-block {
        h1 {
            margin: 90px 0 40px;
            @include _576px() {
                margin: 40px 0;
            }
        }
        .second-block__wrap {
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            @include _1240px() {
                flex-wrap: wrap;
                justify-content: center;
            }
            .second-block__item {
                max-width: 320px;
                margin: 0 9px;
                @include _991px() {
                    max-width: 45%;
                }
                @include _576px() {
                    max-width: 100%;
                    text-align: center;
                }
                img {
                    min-height: 240px;
                    object-fit: cover;
                    overflow: hidden;
                }
                p {
                    font-size: 1.2em;
                    line-height: 120%;
                    font-weight: 400;
                    letter-spacing: -.03em;
                    border-radius: 1.38vw;
                    background-color: #f3f3f3;
                    padding: 1.5rem;
                }
            }
        }
    }
    .third-block {
        margin: 70px 0 30px;
        .third-block__wrap {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            @include _991px() {
                justify-content: center;
            }
            .third-block__item {
                width: 280px;
                padding: 1rem;
                border-radius: 1.38vw;
                background: #f3f3f3;
                margin: 10px;
                @include _768px() {
                    width: 45%;
                }
                @include _576px() {
                    width: 100%;
                }
                h3 {
                    font-size: 1.5rem;
                    color: #22222280;
                    margin-bottom: 12px;
                }
                p {
                    font-size: 1em;
                    line-height: 120%;
                    font-weight: 400;
                    letter-spacing: -.03em;
                }
            }
        }
    }
    .fourth-block {
        padding: 40px 0;
        .fourth-block__item {
            max-width: 670px;
            .body-text {
                margin: 50px 0 16px;
            }
        }
        .fourth-block__cards {
            display: grid;
            width: 100%;
            grid-auto-columns: 1fr;
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;  
            margin: 10px 0;
            @include _1140px() {
                grid-template-columns: 1fr 1fr;
            }
            .fourth-block__card {
                padding: 1.2rem 1.3rem;
                background: #ebeae8;
                border-radius: 1.38vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: end;
                @include _1140px() {
                    min-height: 170px;
                }
                @include _576px() {
                    padding: 1rem;
                    min-height: 120px;
                }
                &:nth-child(2) {
                    min-height: 170px;
                    @include _1140px() {
                        min-height: 170px;
                    }
                    @include _576px() {
                        min-height: 120px;
                    }
                }
                &:nth-child(3) {
                    min-height: 268px;
                    @include _1140px() {
                        min-height: 170px;
                    }
                    @include _576px() {
                        min-height: 120px;
                    }
                }
                &:last-child {
                    min-height: 372px;
                    @include _1140px() {
                        min-height: 170px;
                    }
                    @include _576px() {
                        min-height: 120px;
                    }
                }
                h1 {
                    font-family: "SuisseIntl-Medium";
                    color: #232323;
                    font-size: 4.4em;
                    line-height: 94%;
                    font-weight: 500;
                    letter-spacing: -.06em;
                    @include _1140px() {
                        font-size: 3rem;
                    }
                    @include _576px() {
                        font-size: 2rem;
                    }
                }
                .footer-txt {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;
                    span {
                        font-size: 1.25em;
                        line-height: 120%;
                        font-weight: 400;
                        letter-spacing: -.03em;
                        @include _576px() {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
#form-block {
    margin-bottom: 7rem !important;
    .form-wrap {
        .form-wrap__item {
            &:first-child {
                width: 50%;
                @include _840px() {
                    width: 100%;
                }
            }
            &:last-child {
                width: 50%;
                @include _840px() {
                    width: 100%;
                }
            }
            h1 {
                font-family: "SuisseIntl-Medium";
                color: #232323;
                font-size: 4.4em;
                line-height: 94%;
                font-weight: 500;
                letter-spacing: -.06em;
                @include _991px() {
                    font-size: 3rem;
                }
                @include _576px() {
                    font-size: 2rem;
                }
            }
            p {
                padding-top: 30px;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -.04em;
                max-width: 400px;
                @include _576px() {
                    padding-top: 7px;
                    font-size: 21px;
                }
            }
        }
    }
}
#why-we {
    padding-bottom: 7rem;
    h1 {
        margin-bottom: 70px;
    }
    .why-we__item {
        .video {
            overflow: hidden;
            border-radius: 24px;
            video {
                width: 100%;
            }
        }
        .desc {
            padding: 1.3rem 1.5rem;
            background: #f3f3f3;
            border-radius: 24px;
            margin-top: 7px;
            h4 {
                font-family: "SuisseIntl-Medium";
                font-size: 1.5rem;
                padding-bottom: 30px;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
    .why-we-first {
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;  
        @include _768px() {
            grid-template-columns: 1fr;
        }
        .desc {
            min-height: 260px;
            @include _768px() {
                min-height: auto;
            }
        }
    }
    .why-we-second {
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;  
        margin-top: 20px;
        @include _991px() {
            grid-template-columns: 1fr 1fr;
        }
        @include _768px() {
            grid-template-columns: 1fr;
        }
        .video {
            height: 240px;
            video {
                max-width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        .desc {
            min-height: 224px;
            @include _768px() {
                min-height: auto;
            }
        }
    }
}
#second-form {
    .form-wrap {
        .form-wrap__item__desc {
            h1 {
                font-family: "SuisseIntl-Regular";
            }
            p {
                font-family: "SuisseIntl-Regular";
                max-width: 100%;
                padding-top: 0;
                margin: 30px 0 50px;
            }
            .form-flex {
                display: flex;
                span {
                    font-size: 24px;
                    line-height: 28px;
                    text-decoration: line-through;
                    letter-spacing: -.02em;
                }
                h2 {
                    font-size: 48px;
                    line-height: 36px;
                    letter-spacing: -.03em;
                    margin-top: 10px;
                }
                .prosent {
                    background: #1f59f5;
                    border-radius: 30px;
                    color: #fff;
                    padding: 10px;
                    font-size: 18px;
                }
            }
        }
        form {
            .flex-radios {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include _1240px() {
                    display: block;
                }
                p, label {
                    font-family: "SuisseIntl-Medium";
                    margin-top: 0;
                    padding-top: 0;
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            button {
                font-size: 24px !important;
                height: 54px !important;
                color: #fff !important;
                margin-top: 20px !important;
                width: 100% !important;
            } 
            #course {
                color: #1f59f5;
                text-decoration: underline;
                display: flex;
                justify-content: center;
                margin: 30px 0 20px;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -.04em;
            }
        }
    }
}

// ******************* Стили для страницы product-design.html *******************
.title {
    font-size: 4.6rem;
    margin-right: 20px;
    @include _991px() {
        font-size: 3rem;
    }
}
.text {
    font-size: 21px;
    line-height: 28px;
}
#product-lead {
    padding: 1rem 0;
    .product-lead__wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        @include _991px() {
            grid-template-columns: 1fr;
        }
        .product-lead__item {
            &:first-child {
                border-top: 2px solid #232323;
                border-right: 2px solid #232323;
                border-top-right-radius: 24px;
            }
            ul {
                display: flex;
                margin-top: 20px;
                li {
                    padding: 0.25vw 1vw;
                    border: 2px solid #232323;
                    border-radius: 100vw;
                    text-align: center;
                    font-size: 0.9em;
                    line-height: 105%;
                    margin-right: 7px;
                    width: max-content;
                }
            }
            .line {
                width: 100%;
                height: 2px;
                background: #232323;
                border-radius: 4px;
                margin: 20px 0;
            }
            button {
                border: 1px solid #232323;
                padding: 10px 40px;
                border-radius: 24px;
                color: #222;
                margin: 30px 0;
                font-size: 16px;
                background: #c7c7c73d;
            }
            .ava-block {
                background: #c7c7c73d;
                border-radius: 18px;
                padding: 20px;
                h3 {
                    background: transparent;
                    font-size: 21px;
                    margin-bottom: 16px;
                }
                p {
                    text-indent: 5em;
                    background: transparent;
                    font-size: 16px;
                    line-height: 21px;
                }
                .avatars {
                    background: transparent;
                    display: flex;
                    margin-top: 70px;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 14px;
                        margin-right: 7px;
                    }
                }
            }
            .error {
                margin-top: 10px;
                img {
                    border-radius: 14px;
                }
            }
        }
    }
}
#about-course {
    margin: 3rem 0;
    padding: 2rem 0;
    border-top: 2px solid #232323;
    .about-course__wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        @include _991px() {
            grid-template-columns: 1fr;
        }
        .about-course__item {
            p {
                text-indent: 9.1em;
                a {
                    color: #1f59f5;
                    text-decoration: underline;
                }
            }
        }
    }
}
#who-suits {
    .who-suits__wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 1fr 1fr 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 140px;
        @include _1140px() {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include _991px() {
            grid-template-columns: 1fr 1fr;
        }
        @include _768px() {
            margin-top: 70px;
        }
        @include _576px() {
            grid-template-columns: 1fr;
        }
        .who-suits__item {
            min-height: 378px;
            border-top: 2px solid #232323;
            border-right: 2px solid #232323;
            border-top-right-radius: 24px;
            padding: 16px;
            @include _576px() {
                min-height: auto;
                margin: 30px 0;
            }
        }
        .who-suits__item__copy {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            i {
                font-size: 21px;
            }
        }
    }
}
.form-block {
    .form-wrap {
        .form-wrap__item {
            p {
                padding-top: 0 !important;
                color: #c7c7c7 !important;
            }
            label {
                color: #c7c7c7 !important;
            }
            .head-radios {
                label {
                    border: 1px solid #232323;
                    border-radius: 14px;
                    padding: 16px;
                    width: 100%;
                    input {
                        margin-right: 7px;
                    }
                }
            }
            .form-div {
                background: #232323;
                padding: 20px;
                border-radius: 14px;
                h3 {
                    font-size: 24px;
                    margin: 30px 0;
                    background: transparent;
                }
                .flex-radios, input, label, div, a, p {
                    background: transparent;
                }
            }
        }
    }
    input {
        &::placeholder {
            opacity: .5 !important;
        }
    }
}
#program {
    border-top: 2px solid #232323;
    border-right: 2px solid #232323;
    border-top-right-radius: 24px;
    padding: 16px;
    margin: 10rem 0;
    @include _768px() {
        margin: 5rem 0 4rem;
        padding: 16px 0;
    }
    .program-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 140px;
        @include _768px() {
            grid-template-columns: 1fr;
            margin-top: 70px;
        }
        .program-wrap__item {
            &:first-child {
                border-top: 2px solid #232323;
                border-right: 2px solid #232323;
                border-top-right-radius: 24px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-top: 20px;
                li {
                    padding: 0.25vw 1vw;
                    border: 2px solid #232323;
                    border-radius: 100vw;
                    text-align: center;
                    font-size: 0.9em;
                    line-height: 105%;
                    margin-right: 7px;
                    margin-top: 7px;
                    width: max-content;
                }
            }
            .accordion-item {
                padding: 20px 30px;
                background: #232323;
                cursor: pointer;
                margin: 10px 0;
                border-radius: 12px;
                .accordion {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: transparent;
                    span {
                        background: transparent;
                        transition: .2s all;
                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                }
                .accordion-list {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    background: transparent;
                    padding: 20px 0 0 0;
                    font-size: 15px;
                    line-height: 19px;
                    opacity: .8;
                    display: flex;
                    b {
                        min-width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: #fff;
                        margin: 4px 10px 0 
                    }
                }
            }
        }
    }
}
.review-slider {
    .slider-head {
        margin: 70px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttons {
            padding: 0 20px !important;
        }
    }
    .rev-img {
        img {
            width: 100px !important;
            height: 100px !important;
            border-radius: 14px !important;
            margin: 0 auto;
        } 
    }
    .slider-item {
        border-top: 2px solid #232323 !important;
        border-right: 2px solid #232323 !important;
        border-top-right-radius: 24px !important;
    }
}
#study {
    margin-bottom: 7rem;
    .study-wrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 20px;
        @include _768px() {
            grid-template-columns: 1fr;
        }
        .study-wrap__item {
            .border-line {
                border-top: 2px solid #232323;
                border-right: 2px solid #232323;
                border-top-right-radius: 24px;
                padding: 16px;
                min-height: 216px;
                margin-top: 10px;
                @include _768px() {
                    display: none;
                }
            }
            .study-wrap__block {
                padding: 20px;
                border-radius: 14px;
                background: #232323;
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                min-height: 216px;
                @include _576px() {
                    display: block;
                }
                h4 {
                    width: 50%;
                    @include _576px() {
                        width: 100%;
                    }
                }
                .more {
                    background: transparent;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include _576px() {
                        width: 100%;
                    }
                    i {
                        font-size: 18px;
                        line-height: 34px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 18px;
                        text-indent: 9.2em;
                    }
                }
                i,p,h4 {
                    background: transparent;
                }
            }
        }
    }
}
#footer {
    .footer-line {
        border-top: 2px solid #232323;
        border-right: 2px solid #232323;
        border-top-right-radius: 24px;
        .footer-wrap__extra {
            border-top: 2px solid #232323;
        }
    }
}
.head-container {
    ul {
        display: flex;
        align-items: center;
        margin: 30px 0;
        li {
            margin-right: 10px;
            color: #905db4;
            img {
                margin-top: 3px;
                width: 20px;
            }
        }
    }
    h2 {
        font-family: "SuisseIntl-Bold";
        font-size: 52px;
        margin-bottom: 60px;
    }
}
#webinar {
    .webinar-wrap {
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;  
        @include _1240px() {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include _768px() {
            grid-template-columns: 1fr 1fr;
        }
        @include _576px() {
            grid-template-columns: 1fr;
        }
        .webinar-item {
            margin: 30px 0;
            @include _576px() {
                margin: 16px 0;
            }
            a {
                .webinar-item__img {
                    overflow: hidden;
                    border-radius: 4px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        object-fit: cover;
                    }
                }
                h3 {
                    font-family: "SuisseIntl-Medium";
                    font-size: 20px;
                    color: #000;
                    line-height: 26px;
                    margin: 12px 0;
                    max-height: 78px;
                }
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        color: #905db4;
                        &:last-child {
                            color: #828282;
                        }
                    }
                }
                p {
                    margin-top: 12px;
                    line-height: 22px;
                    color: #828282;
                }
            }
        }
    }
    button {
        border-radius: 40px;
        border: 1px solid #d36133;
        color: #d36133;
        padding: 16px 36px;
        width: 200px;
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .2s all;
        &:hover {
            background: #d36133;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}
#movies {
    background: #333;
    color: #fff !important;
    .container {
        padding: 0 2rem;
        @include _768px() {
            padding: 0 1.5rem;
        }
        @include _576px() {
            padding: 0 .5rem;
        }
        .movies-wrap {
            display: flex;
            @include _991px() {
                display: block;
            }
            p {
                font-family: 'SuisseIntl-Regular';
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                @include _991px() {
                    margin: 0;
                }
            }
            .year-div {
                width: 25%;
                @include _1240px() {
                    display: none;
                }
                .year {
                    position: fixed;
                    top: -22%;
                    left: -16%;
                    font-family: 'SuisseIntl-Bold';
                    transform: rotateZ(-90deg) translate(-1em, 0);
                    margin: 0;
                    font-size: 320px;
                    line-height: 1.7em;
                }
            }
            .center-content {
                width: 29%;
                @include _991px() {
                    width: 100%;
                    padding-top: 30px;
                }
                .center-div {
                    position: fixed;
                    @include _991px() {
                        position: inherit;
                    }
                    button {
                        color: #fff;
                        border-radius: 2px;
                        border: none;
                        font-size: 22px;
                        cursor: pointer;
                        transition: .2s all;
                        background: #4c8bfe;
                        padding: 8px 15px 10px;
                        margin: 20px 0 40px;
                        &:hover {
                            background: #3175f4;
                        }
                    }
                    a {
                        color: gray;
                        font-family: 'SuisseIntl-Regular';
                        text-decoration: none;
                        font-size: 22px;
                        transition: .2s all;
                        &:hover {
                            color: #4c8bfe;
                        }
                    }
                }
            }
            .desc {
                width: 46%;
                @include _1240px() {
                    width: 70%;
                    padding: 50px 0;
                }
                @include _991px() {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 70px;
                }
                .card {
                    max-width: 666px;
                    min-height: 432px;
                    padding: 36px;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    z-index: 1;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,.65);
                        z-index: -1;
                    }
                }
                .footer-link-parent {
                    display: flex;
                    padding-top: 70px;
                    width: 100%;
                    justify-content: space-between;
                    @include _576px() {
                        display: block;
                    }
                    .link-block {
                        width: 48%;
                        ul {
                            padding: 0;
                            li {
                                list-style: none;
                                margin: 12px 0;
                                a {
                                    font-family: 'SuisseIntl-Regular';
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 34px;
                                    color: #fff;
                                    text-decoration: none;
                                    transition: .2s all;
                                    &:hover {
                                        color: #3175f4;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}