body {
  margin: 0;
}

@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("./../../fonts/SuisseIntl-Regular.ttf");
}
@font-face {
  font-family: "SuisseIntl-Bold";
  src: url("./../../fonts/SuisseIntl-Bold.ttf");
}
@font-face {
  font-family: "SuisseIntl-Medium";
  src: url("./../../fonts/SuisseIntl-Medium.ttf");
}
#banner .container {
  min-height: 45rem;
  background-image: url("./../../img/images_1/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 1rem;
  border-radius: 20px;
  padding: 1rem 1rem;
  display: flex;
}
@media (max-width: 991px) {
  #banner .container {
    min-height: 33rem;
  }
}
@media (max-width: 576px) {
  #banner .container {
    margin: 0 0.5rem;
  }
}
#banner .container .banner-desc {
  max-width: 740px;
  max-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  #banner .container .banner-desc {
    max-width: 540px;
  }
}
#banner .container .banner-desc h1 {
  font-family: "SuisseIntl-Medium";
  font-size: 5.5em;
  font-weight: 500;
  line-height: 91%;
  color: #fff;
  letter-spacing: -0.06em;
}
@media (max-width: 991px) {
  #banner .container .banner-desc h1 {
    font-size: 3em;
    letter-spacing: -0.02em;
  }
}
@media (max-width: 576px) {
  #banner .container .banner-desc h1 {
    font-size: 2.8rem;
  }
}
#banner .container .banner-desc button {
  max-width: 20em;
  width: 100%;
  padding: 0.75vw 3vw;
  border-radius: 100vw;
  background-color: #1f59f5;
  transition: 0.3s all;
  color: #ebeae8;
  font-size: 0.9em;
  line-height: 105%;
  border: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  #banner .container .banner-desc button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 7px 40px;
  }
}
#banner .container .banner-desc button:hover {
  background: #4373f5;
}

#text-section .container .text-wrap {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top-right-radius: 1vw;
  min-height: 350px;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 0 1vw 0 0;
  margin: 10px 0;
}
@media (max-width: 991px) {
  #text-section .container .text-wrap {
    grid-template-columns: auto;
  }
}
@media (max-width: 576px) {
  #text-section .container .text-wrap {
    min-height: auto;
  }
}
#text-section .container .text-wrap .text-wrap__item {
  padding: 1.25rem;
}
@media (max-width: 576px) {
  #text-section .container .text-wrap .text-wrap__item {
    padding: 1rem;
  }
}
#text-section .container .text-wrap .text-wrap__item p {
  font-size: 1.5em;
}
@media (max-width: 576px) {
  #text-section .container .text-wrap .text-wrap__item p {
    font-size: 1rem;
  }
}
#text-section .container .text-wrap .text-wrap__item .indent-txt {
  text-indent: 9.1em;
}
@media (max-width: 991px) {
  #text-section .container .text-wrap .text-wrap__item .indent-txt {
    text-indent: 0;
  }
}

#cards {
  padding-bottom: 10rem;
}
@media (max-width: 840px) {
  #cards {
    padding-bottom: 7rem;
  }
}
#cards .cards-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 840px) {
  #cards .cards-wrap {
    grid-template-columns: auto;
  }
}
#cards .cards-wrap .cards-wrap__item {
  background: #f2f2f2;
  border-radius: 1vw;
  padding: 1.25em;
  min-height: 352px;
}
#cards .cards-wrap .cards-wrap__item a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__head {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__head {
    flex-wrap: wrap;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__head p {
  padding: 0.25vw 1vw;
  border: 2px solid #282828;
  border-radius: 100vw;
  text-align: center;
  font-size: 0.9em;
  line-height: 105%;
  margin-right: 7px;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__head p {
    margin: 4px 7px 3px 0;
    font-size: 12px;
    border: 1px solid #282828;
    padding: 3px 7px;
  }
}
#cards .cards-wrap .cards-wrap__item a h3 {
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
#cards .cards-wrap .cards-wrap__item a p {
  font-size: 0.8em;
  line-height: 105%;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a p {
    font-size: 12px;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info {
  display: flex;
  margin-top: 5em;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__info {
    display: block;
    margin-top: 2em;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left {
  display: flex;
  max-width: 212px;
  padding-top: 1.13em;
  padding-right: 1em;
  margin-right: 1.25em;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #404040;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left {
    max-width: 100%;
    margin-right: 0;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left button {
  padding: 0.75vw 3vw;
  border-radius: 100vw;
  background-color: #1f59f5;
  transition: background-color 0.3s;
  color: #ebeae8;
  font-size: 0.9em;
  line-height: 105%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left button {
    margin: 20px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 30px;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_left button:hover {
  opacity: 0.7;
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_right {
  margin-right: 0.5em;
}
@media (max-width: 576px) {
  #cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_right {
    margin-right: 0;
  }
}
#cards .cards-wrap .cards-wrap__item a .cards-item__info .cards-item__info_right img {
  border-radius: 1vw;
}
#cards .extra-cards-wrap .cards-item__info {
  display: flex !important;
}
#cards .extra-cards-wrap .cards-item__info_img {
  min-width: 14em;
  height: 14em;
  max-width: none;
  border-radius: 1vw;
  overflow: hidden;
  margin-right: 10px;
}
@media (max-width: 576px) {
  #cards .extra-cards-wrap .cards-item__info_img {
    min-width: 9em;
    height: 9em;
  }
}
#cards .extra-cards-wrap .cards-item__info_desc {
  border-top: 2px solid #404040;
  padding: 1em 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 576px) {
  #cards .extra-cards-wrap .cards-item__info_desc {
    padding: 0.5rem 0 0 0.5rem;
  }
}
#cards .extra-cards-wrap .cards-item__info_desc p {
  font-size: 0.9em;
  line-height: 105%;
}
#cards .extra-cards-wrap .cards-item__info_desc h2 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 7px;
}
@media (max-width: 576px) {
  #cards .extra-cards-wrap .cards-item__info_desc h2 {
    font-size: 4.8vw;
    line-height: 110%;
    letter-spacing: -0.01em;
  }
}
#cards .extra-cards-wrap .cards-item__info_desc b {
  text-decoration: line-through;
}

#slider {
  padding: 20px 0 15rem;
}
@media (max-width: 768px) {
  #slider {
    padding: 20px 0 7rem;
  }
}
#slider h1 {
  padding: 1.25rem 0 10rem;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 0 1vw 0 0;
}
@media (max-width: 768px) {
  #slider h1 {
    padding: 1.25rem 0 2rem;
  }
}
#slider .slider .slider-item {
  width: 460px;
  height: 510px;
  margin: 0 12px;
}
@media (max-width: 768px) {
  #slider .slider .slider-item {
    width: 300px;
    height: 350px;
  }
}
#slider .slider .slider-item img {
  width: 100%;
  height: 460px;
  border-radius: 1vw;
  margin-bottom: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  #slider .slider .slider-item img {
    height: 300px;
  }
}
#slider .slider .slider-item p {
  font-size: 0.9em;
  line-height: 105%;
}
#slider .reviews .slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  border-radius: 0 1vw 0 0;
  padding: 18px 18px 0;
  margin: 0 5px;
}
@media (max-width: 768px) {
  #slider .reviews .slider-item {
    height: 380px;
  }
}
#slider .reviews .slider-item h3 {
  font-size: 1.75em;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: -0.02em;
}
@media (max-width: 768px) {
  #slider .reviews .slider-item h3 {
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
}
#slider .reviews .slider-item p {
  text-indent: 9.2em;
}
@media (max-width: 768px) {
  #slider .reviews .slider-item p {
    font-size: 12px;
    line-height: 121%;
    text-indent: 0;
  }
}
#slider .buttons {
  display: flex;
  padding: 0 1rem 20px;
}
#slider .buttons svg {
  width: 20px;
  cursor: pointer;
}
#slider .buttons .prev {
  margin-right: 20px;
}

#form,
#form-block {
  margin-bottom: 15rem;
}
@media (max-width: 768px) {
  #form,
#form-block {
    margin-bottom: 7rem;
  }
}
#form .form-wrap,
#form-block .form-wrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  border-radius: 16px;
}
@media (max-width: 840px) {
  #form .form-wrap,
#form-block .form-wrap {
    display: block;
  }
}
@media (max-width: 576px) {
  #form .form-wrap,
#form-block .form-wrap {
    padding: 14px;
  }
}
#form .form-wrap .form-wrap__item,
#form-block .form-wrap .form-wrap__item {
  width: 50%;
}
#form .form-wrap .form-wrap__item:first-child,
#form-block .form-wrap .form-wrap__item:first-child {
  width: 60%;
}
@media (max-width: 991px) {
  #form .form-wrap .form-wrap__item:first-child,
#form-block .form-wrap .form-wrap__item:first-child {
    width: 50%;
  }
}
@media (max-width: 840px) {
  #form .form-wrap .form-wrap__item:first-child,
#form-block .form-wrap .form-wrap__item:first-child {
    width: 100%;
  }
}
#form .form-wrap .form-wrap__item:nth-child(2),
#form-block .form-wrap .form-wrap__item:nth-child(2) {
  width: 40%;
  padding-left: 30px;
}
@media (max-width: 991px) {
  #form .form-wrap .form-wrap__item:nth-child(2),
#form-block .form-wrap .form-wrap__item:nth-child(2) {
    width: 50%;
  }
}
@media (max-width: 840px) {
  #form .form-wrap .form-wrap__item:nth-child(2),
#form-block .form-wrap .form-wrap__item:nth-child(2) {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
}
#form .form-wrap .form-wrap__item h1,
#form-block .form-wrap .form-wrap__item h1 {
  font-size: 88px;
  line-height: 80px;
  letter-spacing: -0.06em;
}
@media (max-width: 991px) {
  #form .form-wrap .form-wrap__item h1,
#form-block .form-wrap .form-wrap__item h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 576px) {
  #form .form-wrap .form-wrap__item h1,
#form-block .form-wrap .form-wrap__item h1 {
    font-size: 2em;
    line-height: 40px;
  }
}
#form .form-wrap .form-wrap__item input,
#form-block .form-wrap .form-wrap__item input {
  background: 0 0;
  border: none;
  border-bottom: 2px solid #131313;
  border-radius: 0;
  outline: 0;
  padding: 5px 0 8px;
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  #form .form-wrap .form-wrap__item input,
#form-block .form-wrap .form-wrap__item input {
    font-size: 18px;
    line-height: 20px;
  }
}
#form .form-wrap .form-wrap__item input::-moz-placeholder, #form-block .form-wrap .form-wrap__item input::-moz-placeholder {
  color: #c7c7c7;
}
#form .form-wrap .form-wrap__item input:-ms-input-placeholder, #form-block .form-wrap .form-wrap__item input:-ms-input-placeholder {
  color: #c7c7c7;
}
#form .form-wrap .form-wrap__item input::placeholder,
#form-block .form-wrap .form-wrap__item input::placeholder {
  color: #c7c7c7;
}
#form .form-wrap .form-wrap__item p,
#form-block .form-wrap .form-wrap__item p {
  font-family: "SuisseIntl-Medium";
  font-size: 15px;
  line-height: 16px;
  margin: 10px 0 5px;
}
@media (max-width: 576px) {
  #form .form-wrap .form-wrap__item p,
#form-block .form-wrap .form-wrap__item p {
    font-size: 12px;
    line-height: 15px;
  }
}
#form .form-wrap .form-wrap__item .radio-btn,
#form-block .form-wrap .form-wrap__item .radio-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
#form .form-wrap .form-wrap__item .radio-btn input,
#form-block .form-wrap .form-wrap__item .radio-btn input {
  margin: 0;
  width: auto;
}
#form .form-wrap .form-wrap__item .radio-btn a,
#form-block .form-wrap .form-wrap__item .radio-btn a {
  font-family: "SuisseIntl-Bold";
  color: #1f59f5;
  text-decoration: underline;
}
#form .form-wrap .form-wrap__item .radio-btn label,
#form-block .form-wrap .form-wrap__item .radio-btn label {
  padding-left: 14px;
}
#form .form-wrap .form-wrap__item button,
#form-block .form-wrap .form-wrap__item button {
  font-size: 15px;
  line-height: 1px;
  height: 40px;
  padding: 0 48px;
  border: none;
  background: #1f59f5;
  color: #c7c7c7;
  cursor: pointer;
  transition: 0.2s ease all;
  border-radius: 40px;
  margin-top: 90px;
}
#form .form-wrap .form-wrap__item button:hover,
#form-block .form-wrap .form-wrap__item button:hover {
  background: rgb(58, 107, 241);
}

.all-courses .all-courses__wrap {
  display: flex;
  width: 100%;
  margin: 70px 0;
  padding-bottom: 70px;
  border-bottom: 2px solid #f2f2f2;
}
@media (max-width: 1140px) {
  .all-courses .all-courses__wrap {
    display: block;
  }
}
.all-courses .all-courses__wrap p {
  font-size: 18px;
}
.all-courses .all-courses__wrap .all-courses__item {
  width: 50%;
  padding: 30px 30px 30px 0;
}
@media (max-width: 1140px) {
  .all-courses .all-courses__wrap .all-courses__item {
    width: 100%;
  }
}
.all-courses .all-courses__wrap .all-courses__item:last-child {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 34px;
}
@media (max-width: 576px) {
  .all-courses .all-courses__wrap .all-courses__item:last-child {
    padding: 20px;
    border-radius: 14px;
  }
}
.all-courses .all-courses__wrap .all-courses__item h1 {
  font-family: "SuisseIntl-Medium";
  font-size: 3rem;
  margin-bottom: 16px;
}
.all-courses .all-courses__wrap .all-courses__item h4 {
  font-size: 24px;
  color: #1f59f5;
  margin-bottom: 20px;
}
.all-courses .all-courses__wrap .all-courses__item .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 18px;
}
@media (max-width: 576px) {
  .all-courses .all-courses__wrap .all-courses__item .btns {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.all-courses .all-courses__wrap .all-courses__item .btns a {
  width: 49%;
  padding: 14px 30px;
  background: #1f59f5;
  color: #fff;
  border-radius: 32px;
  text-align: center;
  transition: 0.2s all;
}
@media (max-width: 576px) {
  .all-courses .all-courses__wrap .all-courses__item .btns a {
    width: 100%;
    margin: 10px 0;
  }
}
.all-courses .all-courses__wrap .all-courses__item .btns a:hover {
  opacity: 0.7;
}
.all-courses .all-courses__wrap .all-courses__item .btns a:last-child {
  color: #222;
  background: #fff;
}

@media (max-width: 1140px) {
  #cards-wrap {
    grid-template-columns: auto !important;
  }
}
#cards-wrap #catalog-item {
  position: relative;
  padding: 2rem !important;
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item {
    padding: 1rem !important;
  }
}
#cards-wrap #catalog-item img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
}
@media (max-width: 1360px) {
  #cards-wrap #catalog-item img {
    width: 250px;
  }
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item img {
    width: 230px;
  }
}
#cards-wrap #catalog-item .catalog-img {
  width: 300px;
}
@media (max-width: 1360px) {
  #cards-wrap #catalog-item .catalog-img {
    width: 250px;
  }
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item .catalog-img {
    width: 200px;
  }
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item a {
    justify-content: flex-start !important;
  }
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item a .cards-item__info {
    margin-top: 0 !important;
  }
}
#cards-wrap #catalog-item a .cards-item__info .cards-item__info_left {
  border-top: none !important;
}
#cards-wrap #catalog-item a .cards-item__info .cards-item__info_left button {
  background: #131313 !important;
  color: #fff !important;
}
#cards-wrap #catalog-item a .cards-item__info .cards-item__info_left button {
  width: 250px !important;
  padding: 16px 0 !important;
}
#cards-wrap #catalog-item a h2 {
  font-family: "SuisseIntl-Medium";
  font-size: 2rem;
  max-width: 590px;
}
@media (max-width: 576px) {
  #cards-wrap #catalog-item a h2 {
    font-size: 24px !important;
  }
}
#cards-wrap #catalog-item a h2 span {
  color: #e94ad5;
}
#cards-wrap #catalog-item a h2 .color2 {
  color: #772ade;
}
#cards-wrap #catalog-item a h2 .color3 {
  color: #42b045;
}
#cards-wrap #catalog-item a h2 .color4 {
  color: #1f59f5;
}

.categories ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.categories ul li {
  margin: 18px 7px;
}
@media (max-width: 576px) {
  .categories ul li {
    margin: 14px 3px;
  }
}
.categories ul li a {
  font-family: "SuisseIntl-Medium";
  padding: 12px 24px;
  border: 1px solid #d3d1d1;
  border-radius: 24px;
  font-size: 18px;
  transition: 0.2s all;
}
@media (max-width: 576px) {
  .categories ul li a {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.categories ul li a:hover {
  background: #edecec;
}
.categories ul li a.active {
  background: #222;
  color: #fff;
}

#courses {
  padding-bottom: 10rem;
}
#courses .courses-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 1140px) {
  #courses .courses-wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #courses .courses-wrap {
    grid-template-columns: 1fr;
  }
}
#courses .courses-wrap .courses-wrap__item {
  border-radius: 32px;
  overflow: hidden;
  cursor: pointer;
  height: 540px;
  background: #f2f2f2;
}
@media (max-width: 576px) {
  #courses .courses-wrap .courses-wrap__item {
    height: auto;
    min-height: 500px;
  }
}
#courses .courses-wrap .courses-wrap__item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  height: 100%;
}
#courses .courses-wrap .courses-wrap__item a .courses-header {
  padding: 0 26px;
}
@media (max-width: 576px) {
  #courses .courses-wrap .courses-wrap__item a .courses-header {
    padding: 0 16px;
  }
}
#courses .courses-wrap .courses-wrap__item a .courses-header p {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.5;
}
@media (max-width: 991px) {
  #courses .courses-wrap .courses-wrap__item a .courses-header p {
    line-height: 16px;
  }
}
#courses .courses-wrap .courses-wrap__item a .courses-header h2 {
  font-size: 2rem;
  margin: 10px 0;
}
@media (max-width: 991px) {
  #courses .courses-wrap .courses-wrap__item a .courses-header h2 {
    font-size: 1.5rem;
    margin: 7px 0;
  }
}
#courses .courses-wrap .courses-wrap__item a .courses-header h5 {
  color: #f31f1f;
  background: #fff;
  padding: 7px 16px;
  margin-top: 14px;
  border-radius: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#courses .courses-wrap .courses-wrap__item a .courses-header h6 {
  font-size: 12px;
  margin-top: 16px;
}
#courses .courses-wrap .courses-wrap__item a .courses-header h6 span {
  opacity: 0.7;
}
#courses .courses-wrap .courses-wrap__item a .courses-img {
  position: relative;
  bottom: -5px;
}
#courses .courses-wrap .courses-wrap__item a .course-mini-img {
  padding-bottom: 30px;
  text-align: center;
}
#courses .courses-wrap .courses-wrap__item a .course-mini-img img {
  width: 225px;
  height: 225px;
  border-radius: 32px;
}

#ui-ux {
  position: relative;
  margin-bottom: 2rem;
}
#ui-ux img {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (max-width: 576px) {
  #ui-ux img {
    right: 20%;
  }
}
#ui-ux .container .ui-ux__content {
  border-radius: 1.38vw;
  background-color: #ebeae8;
  min-height: 730px;
  padding: 2rem;
}
@media (max-width: 991px) {
  #ui-ux .container .ui-ux__content {
    min-height: 840px;
  }
}
@media (max-width: 576px) {
  #ui-ux .container .ui-ux__content {
    min-height: 600px;
    padding: 2rem 1rem;
  }
}
#ui-ux .container .ui-ux__content .ui-ux__desc {
  max-width: 670px;
  position: relative;
  z-index: 1;
}
#ui-ux .container .ui-ux__content .ui-ux__desc ul {
  display: flex;
  align-items: center;
}
#ui-ux .container .ui-ux__content .ui-ux__desc ul li {
  font-size: 1rem;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin: 0 4px;
  padding: 3px 10px;
  border-radius: 100vw;
  box-shadow: inset 0 0 0 2px #222;
  text-align: center;
}
#ui-ux .container .ui-ux__content .ui-ux__desc p span {
  color: rgba(34, 34, 34, 0.5019607843);
}
#ui-ux .container .ui-ux__content .ui-ux__desc h1 {
  font-family: "SuisseIntl-Medium";
  margin: 25px 0 30px;
  color: #232323;
  font-size: 4rem;
  line-height: 94%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
@media (max-width: 576px) {
  #ui-ux .container .ui-ux__content .ui-ux__desc h1 {
    font-size: 2rem;
  }
}
#ui-ux .container .ui-ux__content .ui-ux__desc .btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#ui-ux .container .ui-ux__content .ui-ux__desc .btns a, #ui-ux .container .ui-ux__content .ui-ux__desc .btns span {
  padding: 10px;
  border-radius: 100vw;
  background-color: #1f59f5;
  transition: 0.3s all;
  color: #f6f6f5;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: -0.04em;
  text-decoration: none;
  margin-right: 10px;
  max-width: 280px;
  width: 100%;
}
#ui-ux .container .ui-ux__content .ui-ux__desc .btns a:hover, #ui-ux .container .ui-ux__content .ui-ux__desc .btns span:hover {
  opacity: 0.7;
}
@media (max-width: 576px) {
  #ui-ux .container .ui-ux__content .ui-ux__desc .btns a, #ui-ux .container .ui-ux__content .ui-ux__desc .btns span {
    font-size: 1rem;
  }
}
#ui-ux .container .ui-ux__content .ui-ux__desc .btns span {
  color: #131313;
  background: #f6f6f5;
}
#ui-ux .container .ui-ux__content .ui-ux__desc .btns span:hover {
  opacity: 1;
}

.def-title {
  font-family: "SuisseIntl-Medium";
  color: #232323;
  font-size: 4em;
  line-height: 94%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
@media (max-width: 991px) {
  .def-title {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .def-title {
    font-size: 2rem;
  }
}

.body-text-s-white {
  color: rgba(34, 34, 34, 0.5019607843);
  font-size: 1.25em;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.body-text {
  font-size: 1.66em;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: -0.04em;
}
@media (max-width: 576px) {
  .body-text {
    font-size: 1.1rem;
    line-height: 130%;
  }
}

#about-design {
  padding: 4rem 0;
}
#about-design .about-design__wrap {
  display: flex;
}
@media (max-width: 991px) {
  #about-design .about-design__wrap {
    display: block;
  }
}
#about-design .about-design__wrap .about-design__item {
  width: 50%;
}
@media (max-width: 991px) {
  #about-design .about-design__wrap .about-design__item {
    width: 100%;
  }
}
#about-design .about-design__wrap .about-design__item p {
  margin: 30px 0;
}
#about-design .about-design__wrap .about-design__item .video {
  border-radius: 1.38vw;
  margin: 30px 0 20px;
  overflow: hidden;
}
#about-design .about-design__wrap .about-design__item .video video {
  width: 100%;
}
#about-design .about-design__wrap .about-design__item ul {
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 991px) {
  #about-design .about-design__wrap .about-design__item ul {
    padding: 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  #about-design .about-design__wrap .about-design__item ul li {
    width: 48%;
    margin: 20px 0;
  }
}
#about-design .about-design__wrap .about-design__item ul li h2 {
  font-family: "SuisseIntl-Medium";
  color: #232323;
  font-size: 4.4em;
  line-height: 94%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
@media (max-width: 768px) {
  #about-design .about-design__wrap .about-design__item ul li h2 {
    font-size: 3rem;
    margin-bottom: 7px;
  }
}
@media (max-width: 768px) {
  #about-design .about-design__wrap .about-design__item ul li h2 {
    font-size: 2rem;
    margin-bottom: 7px;
  }
}
#about-design .about-design__wrap .about-design__item ul li .body-text-s-white {
  font-size: 0.9rem;
}
#about-design .about-design__wrap .about-design__item ul li .body-text-s-white br {
  display: none;
}
#about-design .second-block h1 {
  margin: 90px 0 40px;
}
@media (max-width: 576px) {
  #about-design .second-block h1 {
    margin: 40px 0;
  }
}
#about-design .second-block .second-block__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
@media (max-width: 1240px) {
  #about-design .second-block .second-block__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
#about-design .second-block .second-block__wrap .second-block__item {
  max-width: 320px;
  margin: 0 9px;
}
@media (max-width: 991px) {
  #about-design .second-block .second-block__wrap .second-block__item {
    max-width: 45%;
  }
}
@media (max-width: 576px) {
  #about-design .second-block .second-block__wrap .second-block__item {
    max-width: 100%;
    text-align: center;
  }
}
#about-design .second-block .second-block__wrap .second-block__item img {
  min-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#about-design .second-block .second-block__wrap .second-block__item p {
  font-size: 1.2em;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.03em;
  border-radius: 1.38vw;
  background-color: #f3f3f3;
  padding: 1.5rem;
}
#about-design .third-block {
  margin: 70px 0 30px;
}
#about-design .third-block .third-block__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media (max-width: 991px) {
  #about-design .third-block .third-block__wrap {
    justify-content: center;
  }
}
#about-design .third-block .third-block__wrap .third-block__item {
  width: 280px;
  padding: 1rem;
  border-radius: 1.38vw;
  background: #f3f3f3;
  margin: 10px;
}
@media (max-width: 768px) {
  #about-design .third-block .third-block__wrap .third-block__item {
    width: 45%;
  }
}
@media (max-width: 576px) {
  #about-design .third-block .third-block__wrap .third-block__item {
    width: 100%;
  }
}
#about-design .third-block .third-block__wrap .third-block__item h3 {
  font-size: 1.5rem;
  color: rgba(34, 34, 34, 0.5019607843);
  margin-bottom: 12px;
}
#about-design .third-block .third-block__wrap .third-block__item p {
  font-size: 1em;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.03em;
}
#about-design .fourth-block {
  padding: 40px 0;
}
#about-design .fourth-block .fourth-block__item {
  max-width: 670px;
}
#about-design .fourth-block .fourth-block__item .body-text {
  margin: 50px 0 16px;
}
#about-design .fourth-block .fourth-block__cards {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin: 10px 0;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards {
    grid-template-columns: 1fr 1fr;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card {
  padding: 1.2rem 1.3rem;
  background: #ebeae8;
  border-radius: 1.38vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card {
    min-height: 170px;
  }
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card {
    padding: 1rem;
    min-height: 120px;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(2) {
  min-height: 170px;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(2) {
    min-height: 170px;
  }
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(2) {
    min-height: 120px;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(3) {
  min-height: 268px;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(3) {
    min-height: 170px;
  }
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:nth-child(3) {
    min-height: 120px;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card:last-child {
  min-height: 372px;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:last-child {
    min-height: 170px;
  }
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card:last-child {
    min-height: 120px;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card h1 {
  font-family: "SuisseIntl-Medium";
  color: #232323;
  font-size: 4.4em;
  line-height: 94%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
@media (max-width: 1140px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card h1 {
    font-size: 2rem;
  }
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card .footer-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
#about-design .fourth-block .fourth-block__cards .fourth-block__card .footer-txt span {
  font-size: 1.25em;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.03em;
}
@media (max-width: 576px) {
  #about-design .fourth-block .fourth-block__cards .fourth-block__card .footer-txt span {
    font-size: 1rem;
  }
}

#form-block {
  margin-bottom: 7rem !important;
}
#form-block .form-wrap .form-wrap__item:first-child {
  width: 50%;
}
@media (max-width: 840px) {
  #form-block .form-wrap .form-wrap__item:first-child {
    width: 100%;
  }
}
#form-block .form-wrap .form-wrap__item:last-child {
  width: 50%;
}
@media (max-width: 840px) {
  #form-block .form-wrap .form-wrap__item:last-child {
    width: 100%;
  }
}
#form-block .form-wrap .form-wrap__item h1 {
  font-family: "SuisseIntl-Medium";
  color: #232323;
  font-size: 4.4em;
  line-height: 94%;
  font-weight: 500;
  letter-spacing: -0.06em;
}
@media (max-width: 991px) {
  #form-block .form-wrap .form-wrap__item h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  #form-block .form-wrap .form-wrap__item h1 {
    font-size: 2rem;
  }
}
#form-block .form-wrap .form-wrap__item p {
  padding-top: 30px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;
  max-width: 400px;
}
@media (max-width: 576px) {
  #form-block .form-wrap .form-wrap__item p {
    padding-top: 7px;
    font-size: 21px;
  }
}

#why-we {
  padding-bottom: 7rem;
}
#why-we h1 {
  margin-bottom: 70px;
}
#why-we .why-we__item .video {
  overflow: hidden;
  border-radius: 24px;
}
#why-we .why-we__item .video video {
  width: 100%;
}
#why-we .why-we__item .desc {
  padding: 1.3rem 1.5rem;
  background: #f3f3f3;
  border-radius: 24px;
  margin-top: 7px;
}
#why-we .why-we__item .desc h4 {
  font-family: "SuisseIntl-Medium";
  font-size: 1.5rem;
  padding-bottom: 30px;
}
#why-we .why-we__item .desc p {
  font-size: 1.1rem;
}
#why-we .why-we-first {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 768px) {
  #why-we .why-we-first {
    grid-template-columns: 1fr;
  }
}
#why-we .why-we-first .desc {
  min-height: 260px;
}
@media (max-width: 768px) {
  #why-we .why-we-first .desc {
    min-height: auto;
  }
}
#why-we .why-we-second {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: 20px;
}
@media (max-width: 991px) {
  #why-we .why-we-second {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #why-we .why-we-second {
    grid-template-columns: 1fr;
  }
}
#why-we .why-we-second .video {
  height: 240px;
}
#why-we .why-we-second .video video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#why-we .why-we-second .desc {
  min-height: 224px;
}
@media (max-width: 768px) {
  #why-we .why-we-second .desc {
    min-height: auto;
  }
}

#second-form .form-wrap .form-wrap__item__desc h1 {
  font-family: "SuisseIntl-Regular";
}
#second-form .form-wrap .form-wrap__item__desc p {
  font-family: "SuisseIntl-Regular";
  max-width: 100%;
  padding-top: 0;
  margin: 30px 0 50px;
}
#second-form .form-wrap .form-wrap__item__desc .form-flex {
  display: flex;
}
#second-form .form-wrap .form-wrap__item__desc .form-flex span {
  font-size: 24px;
  line-height: 28px;
  text-decoration: line-through;
  letter-spacing: -0.02em;
}
#second-form .form-wrap .form-wrap__item__desc .form-flex h2 {
  font-size: 48px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-top: 10px;
}
#second-form .form-wrap .form-wrap__item__desc .form-flex .prosent {
  background: #1f59f5;
  border-radius: 30px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}
#second-form .form-wrap form .flex-radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1240px) {
  #second-form .form-wrap form .flex-radios {
    display: block;
  }
}
#second-form .form-wrap form .flex-radios p, #second-form .form-wrap form .flex-radios label {
  font-family: "SuisseIntl-Medium";
  margin-top: 0;
  padding-top: 0;
  font-size: 18px;
  line-height: 21px;
}
#second-form .form-wrap form button {
  font-size: 24px !important;
  height: 54px !important;
  color: #fff !important;
  margin-top: 20px !important;
  width: 100% !important;
}
#second-form .form-wrap form #course {
  color: #1f59f5;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.title {
  font-size: 4.6rem;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .title {
    font-size: 3rem;
  }
}

.text {
  font-size: 21px;
  line-height: 28px;
}

#product-lead {
  padding: 1rem 0;
}
#product-lead .product-lead__wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 991px) {
  #product-lead .product-lead__wrap {
    grid-template-columns: 1fr;
  }
}
#product-lead .product-lead__wrap .product-lead__item:first-child {
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
}
#product-lead .product-lead__wrap .product-lead__item ul {
  display: flex;
  margin-top: 20px;
}
#product-lead .product-lead__wrap .product-lead__item ul li {
  padding: 0.25vw 1vw;
  border: 2px solid #232323;
  border-radius: 100vw;
  text-align: center;
  font-size: 0.9em;
  line-height: 105%;
  margin-right: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#product-lead .product-lead__wrap .product-lead__item .line {
  width: 100%;
  height: 2px;
  background: #232323;
  border-radius: 4px;
  margin: 20px 0;
}
#product-lead .product-lead__wrap .product-lead__item button {
  border: 1px solid #232323;
  padding: 10px 40px;
  border-radius: 24px;
  color: #222;
  margin: 30px 0;
  font-size: 16px;
  background: rgba(199, 199, 199, 0.2392156863);
}
#product-lead .product-lead__wrap .product-lead__item .ava-block {
  background: rgba(199, 199, 199, 0.2392156863);
  border-radius: 18px;
  padding: 20px;
}
#product-lead .product-lead__wrap .product-lead__item .ava-block h3 {
  background: transparent;
  font-size: 21px;
  margin-bottom: 16px;
}
#product-lead .product-lead__wrap .product-lead__item .ava-block p {
  text-indent: 5em;
  background: transparent;
  font-size: 16px;
  line-height: 21px;
}
#product-lead .product-lead__wrap .product-lead__item .ava-block .avatars {
  background: transparent;
  display: flex;
  margin-top: 70px;
}
#product-lead .product-lead__wrap .product-lead__item .ava-block .avatars img {
  width: 70px;
  height: 70px;
  border-radius: 14px;
  margin-right: 7px;
}
#product-lead .product-lead__wrap .product-lead__item .error {
  margin-top: 10px;
}
#product-lead .product-lead__wrap .product-lead__item .error img {
  border-radius: 14px;
}

#about-course {
  margin: 3rem 0;
  padding: 2rem 0;
  border-top: 2px solid #232323;
}
#about-course .about-course__wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 991px) {
  #about-course .about-course__wrap {
    grid-template-columns: 1fr;
  }
}
#about-course .about-course__wrap .about-course__item p {
  text-indent: 9.1em;
}
#about-course .about-course__wrap .about-course__item p a {
  color: #1f59f5;
  text-decoration: underline;
}

#who-suits .who-suits__wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 140px;
}
@media (max-width: 1140px) {
  #who-suits .who-suits__wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 991px) {
  #who-suits .who-suits__wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #who-suits .who-suits__wrap {
    margin-top: 70px;
  }
}
@media (max-width: 576px) {
  #who-suits .who-suits__wrap {
    grid-template-columns: 1fr;
  }
}
#who-suits .who-suits__wrap .who-suits__item {
  min-height: 378px;
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
  padding: 16px;
}
@media (max-width: 576px) {
  #who-suits .who-suits__wrap .who-suits__item {
    min-height: auto;
    margin: 30px 0;
  }
}
#who-suits .who-suits__wrap .who-suits__item__copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#who-suits .who-suits__wrap .who-suits__item__copy i {
  font-size: 21px;
}

.form-block .form-wrap .form-wrap__item p {
  padding-top: 0 !important;
  color: #c7c7c7 !important;
}
.form-block .form-wrap .form-wrap__item label {
  color: #c7c7c7 !important;
}
.form-block .form-wrap .form-wrap__item .head-radios label {
  border: 1px solid #232323;
  border-radius: 14px;
  padding: 16px;
  width: 100%;
}
.form-block .form-wrap .form-wrap__item .head-radios label input {
  margin-right: 7px;
}
.form-block .form-wrap .form-wrap__item .form-div {
  background: #232323;
  padding: 20px;
  border-radius: 14px;
}
.form-block .form-wrap .form-wrap__item .form-div h3 {
  font-size: 24px;
  margin: 30px 0;
  background: transparent;
}
.form-block .form-wrap .form-wrap__item .form-div .flex-radios, .form-block .form-wrap .form-wrap__item .form-div input, .form-block .form-wrap .form-wrap__item .form-div label, .form-block .form-wrap .form-wrap__item .form-div div, .form-block .form-wrap .form-wrap__item .form-div a, .form-block .form-wrap .form-wrap__item .form-div p {
  background: transparent;
}
.form-block input::-moz-placeholder {
  opacity: 0.5 !important;
}
.form-block input:-ms-input-placeholder {
  opacity: 0.5 !important;
}
.form-block input::placeholder {
  opacity: 0.5 !important;
}

#program {
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
  padding: 16px;
  margin: 10rem 0;
}
@media (max-width: 768px) {
  #program {
    margin: 5rem 0 4rem;
    padding: 16px 0;
  }
}
#program .program-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: 140px;
}
@media (max-width: 768px) {
  #program .program-wrap {
    grid-template-columns: 1fr;
    margin-top: 70px;
  }
}
#program .program-wrap .program-wrap__item:first-child {
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
}
#program .program-wrap .program-wrap__item ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#program .program-wrap .program-wrap__item ul li {
  padding: 0.25vw 1vw;
  border: 2px solid #232323;
  border-radius: 100vw;
  text-align: center;
  font-size: 0.9em;
  line-height: 105%;
  margin-right: 7px;
  margin-top: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#program .program-wrap .program-wrap__item .accordion-item {
  padding: 20px 30px;
  background: #232323;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 12px;
}
#program .program-wrap .program-wrap__item .accordion-item .accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
#program .program-wrap .program-wrap__item .accordion-item .accordion span {
  background: transparent;
  transition: 0.2s all;
}
#program .program-wrap .program-wrap__item .accordion-item .accordion span.active {
  transform: rotate(180deg);
}
#program .program-wrap .program-wrap__item .accordion-item .accordion-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: transparent;
  padding: 20px 0 0 0;
  font-size: 15px;
  line-height: 19px;
  opacity: 0.8;
  display: flex;
}
#program .program-wrap .program-wrap__item .accordion-item .accordion-list b {
  min-width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: 4px 10px 0;
}

.review-slider .slider-head {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-slider .slider-head .buttons {
  padding: 0 20px !important;
}
.review-slider .rev-img img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 14px !important;
  margin: 0 auto;
}
.review-slider .slider-item {
  border-top: 2px solid #232323 !important;
  border-right: 2px solid #232323 !important;
  border-top-right-radius: 24px !important;
}

#study {
  margin-bottom: 7rem;
}
#study .study-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: 20px;
}
@media (max-width: 768px) {
  #study .study-wrap {
    grid-template-columns: 1fr;
  }
}
#study .study-wrap .study-wrap__item .border-line {
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
  padding: 16px;
  min-height: 216px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  #study .study-wrap .study-wrap__item .border-line {
    display: none;
  }
}
#study .study-wrap .study-wrap__item .study-wrap__block {
  padding: 20px;
  border-radius: 14px;
  background: #232323;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  min-height: 216px;
}
@media (max-width: 576px) {
  #study .study-wrap .study-wrap__item .study-wrap__block {
    display: block;
  }
}
#study .study-wrap .study-wrap__item .study-wrap__block h4 {
  width: 50%;
}
@media (max-width: 576px) {
  #study .study-wrap .study-wrap__item .study-wrap__block h4 {
    width: 100%;
  }
}
#study .study-wrap .study-wrap__item .study-wrap__block .more {
  background: transparent;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 576px) {
  #study .study-wrap .study-wrap__item .study-wrap__block .more {
    width: 100%;
  }
}
#study .study-wrap .study-wrap__item .study-wrap__block .more i {
  font-size: 18px;
  line-height: 34px;
}
#study .study-wrap .study-wrap__item .study-wrap__block .more p {
  font-size: 14px;
  line-height: 18px;
  text-indent: 9.2em;
}
#study .study-wrap .study-wrap__item .study-wrap__block i, #study .study-wrap .study-wrap__item .study-wrap__block p, #study .study-wrap .study-wrap__item .study-wrap__block h4 {
  background: transparent;
}

#footer .footer-line {
  border-top: 2px solid #232323;
  border-right: 2px solid #232323;
  border-top-right-radius: 24px;
}
#footer .footer-line .footer-wrap__extra {
  border-top: 2px solid #232323;
}

.head-container ul {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.head-container ul li {
  margin-right: 10px;
  color: #905db4;
}
.head-container ul li img {
  margin-top: 3px;
  width: 20px;
}
.head-container h2 {
  font-family: "SuisseIntl-Bold";
  font-size: 52px;
  margin-bottom: 60px;
}

#webinar .webinar-wrap {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 1240px) {
  #webinar .webinar-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  #webinar .webinar-wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  #webinar .webinar-wrap {
    grid-template-columns: 1fr;
  }
}
#webinar .webinar-wrap .webinar-item {
  margin: 30px 0;
}
@media (max-width: 576px) {
  #webinar .webinar-wrap .webinar-item {
    margin: 16px 0;
  }
}
#webinar .webinar-wrap .webinar-item a .webinar-item__img {
  overflow: hidden;
  border-radius: 4px;
}
#webinar .webinar-wrap .webinar-item a .webinar-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
#webinar .webinar-wrap .webinar-item a h3 {
  font-family: "SuisseIntl-Medium";
  font-size: 20px;
  color: #000;
  line-height: 26px;
  margin: 12px 0;
  max-height: 78px;
}
#webinar .webinar-wrap .webinar-item a ul {
  display: flex;
  align-items: center;
}
#webinar .webinar-wrap .webinar-item a ul li {
  color: #905db4;
}
#webinar .webinar-wrap .webinar-item a ul li:last-child {
  color: #828282;
}
#webinar .webinar-wrap .webinar-item a p {
  margin-top: 12px;
  line-height: 22px;
  color: #828282;
}
#webinar button {
  border-radius: 40px;
  border: 1px solid #d36133;
  color: #d36133;
  padding: 16px 36px;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all;
}
#webinar button:hover {
  background: #d36133;
  color: #fff;
  border: 1px solid #fff;
}

#movies {
  background: #333;
  color: #fff !important;
}
#movies .container {
  padding: 0 2rem;
}
@media (max-width: 768px) {
  #movies .container {
    padding: 0 1.5rem;
  }
}
@media (max-width: 576px) {
  #movies .container {
    padding: 0 0.5rem;
  }
}
#movies .container .movies-wrap {
  display: flex;
}
@media (max-width: 991px) {
  #movies .container .movies-wrap {
    display: block;
  }
}
#movies .container .movies-wrap p {
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
@media (max-width: 991px) {
  #movies .container .movies-wrap p {
    margin: 0;
  }
}
#movies .container .movies-wrap .year-div {
  width: 25%;
}
@media (max-width: 1240px) {
  #movies .container .movies-wrap .year-div {
    display: none;
  }
}
#movies .container .movies-wrap .year-div .year {
  position: fixed;
  top: -22%;
  left: -16%;
  font-family: "SuisseIntl-Bold";
  transform: rotateZ(-90deg) translate(-1em, 0);
  margin: 0;
  font-size: 320px;
  line-height: 1.7em;
}
#movies .container .movies-wrap .center-content {
  width: 29%;
}
@media (max-width: 991px) {
  #movies .container .movies-wrap .center-content {
    width: 100%;
    padding-top: 30px;
  }
}
#movies .container .movies-wrap .center-content .center-div {
  position: fixed;
}
@media (max-width: 991px) {
  #movies .container .movies-wrap .center-content .center-div {
    position: inherit;
  }
}
#movies .container .movies-wrap .center-content .center-div button {
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s all;
  background: #4c8bfe;
  padding: 8px 15px 10px;
  margin: 20px 0 40px;
}
#movies .container .movies-wrap .center-content .center-div button:hover {
  background: #3175f4;
}
#movies .container .movies-wrap .center-content .center-div a {
  color: gray;
  font-family: "SuisseIntl-Regular";
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s all;
}
#movies .container .movies-wrap .center-content .center-div a:hover {
  color: #4c8bfe;
}
#movies .container .movies-wrap .desc {
  width: 46%;
}
@media (max-width: 1240px) {
  #movies .container .movies-wrap .desc {
    width: 70%;
    padding: 50px 0;
  }
}
@media (max-width: 991px) {
  #movies .container .movies-wrap .desc {
    width: 100%;
    padding-left: 0;
    padding-top: 70px;
  }
}
#movies .container .movies-wrap .desc .card {
  max-width: 666px;
  min-height: 432px;
  padding: 36px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#movies .container .movies-wrap .desc .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
}
#movies .container .movies-wrap .desc .footer-link-parent {
  display: flex;
  padding-top: 70px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 576px) {
  #movies .container .movies-wrap .desc .footer-link-parent {
    display: block;
  }
}
#movies .container .movies-wrap .desc .footer-link-parent .link-block {
  width: 48%;
}
#movies .container .movies-wrap .desc .footer-link-parent .link-block ul {
  padding: 0;
}
#movies .container .movies-wrap .desc .footer-link-parent .link-block ul li {
  list-style: none;
  margin: 12px 0;
}
#movies .container .movies-wrap .desc .footer-link-parent .link-block ul li a {
  font-family: "SuisseIntl-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s all;
}
#movies .container .movies-wrap .desc .footer-link-parent .link-block ul li a:hover {
  color: #3175f4;
}/*# sourceMappingURL=style.css.map */